<header class="headercontainer">
  <div class="headerinner">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="headtoprow">
            <div class="logocontainer">
              <a routerLink="/"><img src="assets/imgs/logo.png" alt="Logo"></a>
            </div>
            <div class="navigationcolumn">
              <div class="navigation">
                <!-- <a class="notification" href="javascript:void(0);"><i class="fa fa-bell-o"></i><span class="bdge">3</span></a> -->
								<ng-container *ngIf="userId == ''">
                  <a routerLink="/login" class="loginbtn circleeffect"><span>Login</span><i class="icon icon-user"></i></a>
                </ng-container>

                <ng-container *ngIf="userId != ''">
                  <div class="afterloginuserbxt">
                    <a id="UserNav" href="javascript:void(0);" class="afterloginuser" (click)="toggleDropdown()">
                      <div class="afterloginuserct">
                        <span>{{userName.split(' ')[0]}}</span>
                        <i class="fa fa-caret-down"></i>
                      </div>
                      <div class="afterloginuserimg">
                        <img [src]="profilePicUrlJpeg" alt="" />
                      </div>
                    </a>
                    <div id="UserNavBody" class="userdropbox">
                      <ul>
                        <li (click)="toggleDropdown()" routerLink="/students/profile-settings"><a href="javascript:void(0);"><i class="fa fa-cog"></i>Profile Settings</a></li>
                        <li (click)="logoutClicked()"><a href="javascript:void(0);"><i class="fa fa-sign-out"></i>Logout</a></li>
                      </ul>
                    </div>
                  </div>
                </ng-container>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>