@import '../../assets/scss/variables';

.headercontainer{
  padding: 0px 0px;
  background: theme-color("white");

  .headerinner{
    position: fixed; 
    left: 0px; 
    top: 0; 
    right: 0px; 
    z-index: 99; 
    background: theme-color("white"); 
    padding: 0px 0px;
    -webkit-transition: all 0.7s ease-in-out; 
    transition: all 0.8s ease-in-out;

    &:after{
      content: "";
      position: absolute;
      right: 0px;
      top: 100%;
      border-bottom: 4px solid theme-color("default");
      width: 70%;
      -webkit-border-radius: 0px 0px 0px 20px;
      border-radius: 0px 0px 0px 20px;
    }

    .NavBar{
      float: left;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      background: theme-color("default");
      color: theme-color("white");
      -webkit-border-radius: 50%;
      border-radius: 50%;
      font-size: 1.3em;
      margin-top: 10px;
      margin-bottom: 10px;
      
      @media (min-width: 768px){
        display: none;
      }
      @media (max-width: 767px){
        margin-left: 10px;
      }

      &:focus{
        outline: none; 
        text-decoration: none; 
        color: theme-color("white");
      }
      &:hover{
        outline: none; 
        text-decoration: none;
        color: theme-color("white");
      }
    }
    .notification{
      float: left;
      width: 34px;
      height: 34px;
      text-align: center;
      line-height: 34px;
      color: theme-color("primary-text-color");
      background: theme-color("light-gray");
      border: 1px solid theme-color("dark-gray");
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin: 16px 40px 16px 0px;
      position: relative;

      @media (max-width: 767px) {
        margin: 8px 3px 8px 0px;
      }

      .bdge{
        position: absolute;
        right: -11px;
        top: -8px;
        width: 18px;
        height: 18px;
        text-align: center;
        line-height: 18px;
        font-size: 12px;
        font-weight: 400;
        background: theme-color("red");
        color: theme-color("white");
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .afterloginuserbxt{
      position: relative;
      float: left;

      .afterloginuser{
        float: left;
        padding: 15px 0px;
        text-decoration: none;

        @media (max-width: 767px){
          padding: 8px 0px;
        }

        .afterloginuserct{
          display: table-cell;
          vertical-align: middle;
          color: theme-color("primary-text-color");
          font-size: 14px;
          font-weight: 400;
          position: relative;

          @media (max-width: 575px){
            display: none;
          }
          span{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 93px;
            display: block;
            padding-right: 10px;
          }
          i{
            position: absolute;
            right: 0px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
        .afterloginuserimg{
          display: table-cell;
          vertical-align: middle;
          padding-left: 10px;

          img{
            width: 40px;
            height: 40px;
            -webkit-object-fit: cover;
            object-fit: cover;
            -webkit-border-radius: 50%;
            border-radius: 50%;

            @media (max-width: 767px){
              width: 35px;
              height: 35px;
            }
          }
        }
      }
      .userdropbox{
        display: none; 
        z-index: 9;
        min-width: 210px; 
        margin-top: 10px; 
        position: absolute; 
        right: 0px; 
        top: 100%; 
        background: theme-color("white"); 
        -webkit-border-radius: 4px; 
        border-radius: 4px; 
        -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28); 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.28);

        @media (max-width: 767px){
          min-width: 180px;
        }

        &:before{
          content: ""; 
          position: absolute; 
          width: 0; 
          height: 0; 
          top: -9px; 
          right: 10px; 
          margin-left: -5px; 
          border-width: 0 8px 10px; 
          border-color: transparent; 
          border-bottom-color: theme-color("white");  
          border-style: solid;
        }
        & >{
          ul{
            display: block; 
            margin: 0px; 
            padding: 10px 0px;

            & >{
              li{
                display: block; 
                margin: 0px; 
                padding: 0px; 
                list-style: none;

                & >{
                  a{
                    display: block; 
                    margin: 0px; 
                    padding: 8px 15px 8px 50px; 
                    color: theme-color("primary-text-color"); 
                    font-size: 14px; 
                    font-weight: 400; 
                    text-decoration: none; 
                    position: relative; 
                    -webkit-transition: 0.3s ease-in-out; 
                    transition: 0.3s ease-in-out;

                    @media (max-width: 767px){
                      font-size: 13px;
                      padding: 6px 15px 6px 45px;
                    }

                    i{
                      position: absolute; 
                      left: 21px; 
                      top: 11px; 
                      line-height: 100%; 
                      font-size: 1.2em;

                      @media (max-width: 767px){
                        font-size: 1em;
                        top: 9px;
                      }
                    }
                    &:hover{
                      background: theme-color("default");
                      color: theme-color("white");
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .loginbtn{
      float: left;
      margin: 15px 0px 15px 20px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      @media (max-width: 767px) {
        margin: 8px 0px 8px 15px;
      }
      
      span{
        display: inline-block;
        vertical-align: middle;
        color: theme-color("primary-text-color");
        font-size: 14px;
        padding-right: 10px;

        @media (max-width: 767px) {
          display: none;
        }
      }
      i{
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 38px;
        background: theme-color("default-light");
        color: theme-color("default");
        border: 1px solid theme-color("default");
        -webkit-border-radius: 50%;
        border-radius: 50%;
        font-size: 20px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;

        @media (max-width: 767px) {
          width: 34px;
          height: 34px;
          font-size: 16px;
          line-height: 33px;
        }
      }
      &:hover{
        i{
          background: theme-color("default");
          color: theme-color("white");
        }
      }
    }
    .headtoprow{
      display: -ms-flexbox; 
      display: flex; 
      -ms-flex-wrap: wrap; 
      flex-wrap: wrap; 
      margin: 0px -5px;

      .logocontainer{
        padding: 0px 5px; 
        -ms-flex-item-align: center; 
        align-self: center; 
        -webkit-transition: all 0.3s ease-in-out; 
        transition: all 0.3s ease-in-out;

        @media (max-width: 991px){
          max-width: 192px;
        }

        img{
          max-height: 50px; 
          max-width: 100%; 
          -webkit-transition: all 0.5s ease-in-out; 
          transition: all 0.5s ease-in-out;
        }
      }
      .navigationcolumn{
        padding: 0px 5px; 
        -ms-flex-item-align: center; 
        align-self: center; 
        margin-left: auto;
      }
    }
    &.sticky{
      position: fixed; 
      top: 0 !important; 
      left: 0; 
      width: 100%; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
      -webkit-animation: slide-down 0.7s; animation: slide-down 0.7s; 
      -webkit-transition: all 0.7s ease-in-out; transition: all 0.7s ease-in-out;

      .logocontainer{
        img{
          max-height: 50px;
        }
      }
      .headtoprow{
        .navigationcolumn{
          .navigation{
            .sf-menu{
              > {
                li{
                  > {
                    a{
                      padding-top: 19px;
                      padding-bottom: 19px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}