<footer class="footercontainer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="copyright">&copy; Copyright {{currentYear}} <a routerLink="/">RAS Zone</a>. All rights reserved.</div>
      </div>
    </div>
  </div>
</footer>