@import '../../assets/scss/variables';

.footercontainer{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: #1d62af;

  .copyright{
    display: block;
    text-align: center;
    color: #8eb7e3;
    font-size: 14px;
    padding: 25px 0px;
    line-height: 100%;

    a{
      color: #8eb7e3;
      text-decoration: none;

      &:hover{
        color: theme-color("white");
      }
    }
  }
  
}