<div class="completed-page p-3">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Paper Name</th>
          <th scope="col">No. of Exam Given</th>
          <!-- <th scope="col">Expired On</th>
          <th scope="col">No. of Exam Given</th> -->
        </tr>
      </thead>
      <tbody>
        <!-- <tr>
          <th scope="row">1</th>
          <td>Test 1</td>
          <td>2020-08-07</td>
          <td>2020-12-07</td>
          <td>2</td>
        </tr> -->
      </tbody>
    </table>
  </div>
</div>