.afterlogininner{
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;

  .ProfileBtn{
    float: right;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: theme-color("primary");
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    color: theme-color("white");
    text-decoration: none;
    margin-left: auto;
    margin-bottom: 10px;

    @media (min-width: 768px){
      display: none;
    }
  }
  .dashnavbar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    background: theme-color("profile-nav-bg");
    color: theme-color("white");
    width: 300px;
    -webkit-border-radius: 0px 6px 6px 0px;
    border-radius: 0px 6px 6px 0px;

    @media (max-width: 991px){
      width: 260px;
    }
    @media (max-width: 767px){
      position: fixed;
      top: 0;
      height: 100%;
      left: 0;
      margin-left: -260px;
      margin-right: 0;
      transition: all 0.3s;
      z-index: 9999;
      -webkit-border-radius: 0px;
      border-radius: 0px;
    }

    .dashnavuserbt{
      display: block;
      padding: 40px 20px;
      text-align: center;
      background: theme-color("primary");

      .dashuserimg{
        display: inline-block;
        position: relative;

        .userimgedit{
          position: absolute;
          right: 3px;
          bottom: 10px;
          width: 32px;
          height: 32px;
          line-height: 32px;
          background: theme-color("secondary");
          -webkit-border-radius: 50%;
          border-radius: 50%;
          overflow: hidden;
          -webkit-box-shadow: -5px 24px 57px 0px rgba(11, 85, 98, 0.51);
          box-shadow: -5px 24px 57px 0px rgba(11, 85, 98, 0.51);

          input[type="file" i] {
            position: absolute;
            right: 0px;
            top: 0px;
            bottom: 0px;
            left: 0px;
            width: 100%;
            opacity: 0;
            cursor: pointer;
          }
        }

        img{
          width: 130px;
          height: 130px;
          -webkit-object-fit: cover;
          object-fit: cover;
          border: 4px solid theme-color("white");
          -webkit-border-radius: 50%;
          border-radius: 50%;

          @media (max-width: 991px){
            width: 110px;
            height: 110px;
          }
        }
      }
      h3{
        text-align: center;
        font-size: 19px;
        margin: 20px 0px 0px 0px;
        color: theme-color("white");
        font-weight: 500;

        @media (max-width: 991px){
          font-size: 17px;
        }
      }
      p{
        text-align: center;
        font-size: 13px;
        margin: 0px;
        color: theme-color("white");
        font-weight: 300;
      }
    }
    .dashnavbox{
      display: block;
      padding: 20px 0px;
      background: theme-color("profile-nav-bg");
      -webkit-border-radius: 20px 20px 0px 0px;
      border-radius: 20px 20px 0px 0px;
      margin-top: -15px;

      ul{
        display: block;
        text-align: left;
        margin: 0px;
        padding: 0px;

        li{
          display: block;
          list-style: none;
          margin: 0px;
          padding: 0px;

          a{
            display: block;
            text-decoration: none;
            color: theme-color("white");
            font-size: 15px;
            position: relative;
            font-weight: 400;
            padding: 18px 10px 18px 90px;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;

            @media (max-width: 991px){
              font-size: 13px;
              padding: 18px 10px 18px 56px;
            }

            i{
              position: absolute;
              top: 50%;
              left: 30px;
              width: 36px;
              height: 36px;
              text-align: center;
              line-height: 36px;
              border: 1px solid theme-color("primary-light2");
              background: theme-color("primary-light");
              font-size: 17px;
              color: theme-color("primary-light3");
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
              -webkit-border-radius: 50%;
              border-radius: 50%;
              -webkit-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out;

              @media (max-width: 991px){
                left: 10px;
              }
            }
            .icon-to-do-list{
              font-size: 20px;
            }
            &:hover{

              i{
                background: theme-color("secondary");
                border-color: theme-color("secondary");
                color: theme-color("white");
                -webkit-box-shadow: 1px 15px 54px 0px rgba(19, 21, 21, 0.46);
                box-shadow: 1px 15px 54px 0px rgba(19, 21, 21, 0.46);
              }
            }
          }
          &.active{
            a{

              i{
                background: theme-color("secondary");
                border-color: theme-color("secondary");
                color: theme-color("white");
                -webkit-box-shadow: 1px 15px 54px 0px rgba(19, 21, 21, 0.46);
                box-shadow: 1px 15px 54px 0px rgba(19, 21, 21, 0.46);
              }
            }
          }
        }
      }
    }
  }
  .afterloginright{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 0;
    min-width: 0;
    max-width: 100%;
    padding: 0px 50px 0px 25px;

    @media (max-width: 991px){
      padding: 0px 20px 0px 20px;
    }

    .afterloginrightcontent{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;

      .afterloginrightcontentinner{
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        background: theme-color("white");
        padding: 50px 40px;
        color: theme-color("primary-text-color");
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
        box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);

        @media (max-width: 767px){
          padding: 20px;
        }

        .afterloginrightbt{
          float: left;
          width: 100%;
          padding: 10px;
          background: theme-color("step-wizard-bg");
          border: 1px solid theme-color("register-border");
          -webkit-border-radius: 30px;
          border-radius: 30px;

          @media (max-width: 575px) {
            padding: 0px;
            background: transparent;
            border: none;
            -webkit-border-radius: 0px;
            border-radius: 0px;
          }
          .afterloginrightbtinner{
            float: left;
            width: 100%;
            text-align: left;
            padding: 40px 40px;
            background: theme-color("white");
            border: 1px solid theme-color("register-border");
            -webkit-border-radius: 30px;
            border-radius: 30px;

            @media (max-width: 767px) {
              padding: 0px;
              border: none;
            }

            h3{
              color: theme-color("primary-text-color");
              font-size: 26px;
              font-weight: 500;
              margin: 0px 0px 10px 0px;

              @media (max-width: 767px) {
                font-size: 22px;
              }
            }
            
            p{
              color: theme-color("primary-text-color");
              font-size: 16px;
              font-weight: 400;
              margin: 0px 0px 35px 0px;

              @media (max-width: 767px) {
                font-size: 14px;
              }
            }
            .form-group{
              position: relative;
              margin: 0px 0px 35px 0px;

              .inputgroup{
                position: relative;
                margin: 0px;

                .inputlabel{
                  position: absolute;
                  left: 40px;
                  top: -13px;
                  color: theme-color("secondary");
                  background: theme-color("white");
                  padding: 2px 10px;
                  font-size: 15px;

                  @media (max-width: 575px) {
                    font-size: 14px;
                    left: 20px;
                  }
                }
                .form-control{
                  border: 1px solid theme-color("secondary");
                  height: 56px;
                  background: transparent;
                  color: theme-color("primary-text-color");
                  font-size: 16px;
                  font-weight: 500;
                  padding: 6px 20px 6px 50px;
                  -webkit-border-radius: 30px;
                  border-radius: 30px;

                  &:focus{
                    -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
                    box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
                  }

                  &::-moz-placeholder{color: theme-color("primary-text-color");opacity:1}
                  &:-ms-input-placeholder{color: theme-color("primary-text-color");}
                  &::-webkit-input-placeholder{color:theme-color("primary-text-color");}
                  &::-ms-expand{background-color:transparent;border:0}
                  &::-ms-expand{display: none;}

                  @media (max-width: 575px) {
                    font-size: 14px;
                    padding: 4px 10px 4px 30px;
                    height: 44px;
                  }
                }
              }
            }
            .btn-default{
              background: theme-color("default");
              border: 1px solid theme-color("default-dark");
              color: theme-color("white");
              width: 100%;
              height: 56px;
              max-width: 340px;
              padding: 0px;
              text-align: center;
              line-height: 56px;
              -webkit-border-radius: 30px;
              border-radius: 30px;
              font-size: 16px;
              font-weight: 500;
              margin-top: -10px;
              -webkit-box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);
              box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);

              @media (max-width: 575px) {
                font-size: 14px;
                height: 44px;
                line-height: 44px;
              }
            }
          }
        }
      }
    }
  }
}