.headingradio{
  display: block;
  margin: 0px 0px 10px 0px;

  .radio{
    padding: 0px 0px; 
    padding-left: 20px; 
    margin-top: 0px; 
    margin-bottom: 0px; 
    display: block; 
    margin-right: 0px;


    & + .radio{
      margin-top: 0px;
    }
    label{
      display: inline-block; 
      position: relative; 
      padding-left: 9px; 
      color: theme-color("primary-text-color"); 
      min-height: 0px; 
      font-size: 16px; 
      font-weight: 400; 
      line-height: 21px;
      margin: 0;

      @media (max-width: 767px) {
        font-size: 14px;
      }

      span{
        color: theme-color("primary");
        font-weight: 500;
      }

      &:before{
        content: ""; 
        display: inline-block; 
        position: absolute; 
        width: 20px; 
        height: 20px; 
        left: 0; 
        margin-left: -20px; 
        border: 1px solid theme-color("primary-text-color"); 
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background: transparent; 
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      }
      &:after{
        content: "";
        display: inline-block; 
        position: absolute; 
        width: 12px; 
        height: 12px; 
        left: 4px; 
        top: 4px; 
        margin-left: -20px; 
        padding-left: 4px;
        padding-top: 0px; 
        font-size: 11px; 
        background: theme-color("primary-text-color"); 
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      a{
        color: theme-color("primary");
        text-decoration: none;

        &:hover{
          text-decoration: underline;
        }
      }
      h6{
        color: theme-color("primary-text-color");
        font-weight: 700;
        text-align: left;
        margin: 0px 0px 10px 0px;
        font-size: 17px;

        @media (max-width: 767px) {
          font-size: 15px;
        }
      }
      p{
        color: theme-color("primary-text-color");
        font-weight: 400;
        text-align: left;
        margin: 0px;
        font-size: 14px;

        @media (max-width: 767px) {
          font-size: 13px;
        }
      }
    }
    input[type="radio"]{
      opacity: 0;
      position: absolute;

      &:focus{
        & + label{
          &:before{outline: thin dotted;
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
          }
        }
      }
      &:checked{
        & + label{
          &:after{
            -webkit-transform: scale(1);
            transform: scale(1);
            background: theme-color("primary");
          }
          &:before{
            border-color: theme-color("primary");
          }
        }
      }
      &:disabled{
        & + label{
          opacity: 0.65;
          &:before{
            background-color: theme-color("light-gray"); 
            cursor: not-allowed; 
          }
          &:before{
            background: transparent; 
            border-color: theme-color("white");
          }
        }
      }
    }
  }
}
.cartbtngroup{
  display: block;
  text-align: left;
  padding-top: 30px;

  .btn-default{
    color: theme-color("white");
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;

    @media (max-width: 767px) {
      padding: 8px 15px;
      font-size: 14px;
    }

    i{
      padding-right: 8px;
    }
  }
  .select-item-text{
    display: inline-block;
    vertical-align: middle;
    color: theme-color("primary-text-color");
    font-size: 15px;
    font-weight: 400;
    padding-left: 10px;

    @media (max-width: 767px) {
      font-size: 13px;
      display: block;
      padding: 15px 0px 0px 0px;
    }
  }
}
.csexcolumn{
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;

  @media (max-width: 767px){
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  @media (max-width: 575px){
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
.csexambox{
  position: relative;
  float: left;
  width: 100%;

  .csexamboxinner{
    float: left;
    width: 100%;
    height: 100%;
    border: 1px solid theme-color("exam-box-border");
    background: theme-color("white");
    -webkit-border-radius: 6px;
    border-radius: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 15px;
    min-height: 120px;
    margin: 0px;
    position: relative;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:before{
      content: ""; 
      display: inline-block; 
      position: absolute; 
      width: 18px; 
      height: 18px; 
      right: 10px; 
      top: 10px;
      margin-left: -20px; 
      border: 1px solid theme-color("primary-text-color"); 
      border-radius: 3px; 
      background: transparent; 
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    }
    &:after{
      display: inline-block; 
      position: absolute; 
      width: 18px; 
      height: 18px; 
      right: 10px; 
      top: 10px; 
      margin-left: -20px; 
      padding-left: 1px;
      padding-top: 2px; 
      font-size: 11px; 
      color: theme-color("primary-text-color"); 
      background: transparent; 
      border-radius: 3px;
    }
    a{
      color: theme-color("primary");
      text-decoration: none;

      &:hover{
        text-decoration: underline;
      }
    }
    .cseboxinner{
      text-align: center;
      display: block;
      
      .papertext{
        text-align: center;
        color: theme-color("primary-text-color");
        font-size: 16px;
        margin: 0px 0px 1px 0px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
      .paperprice{
        text-align: center;
        color: theme-color("dark-red");
        font-size: 16px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
      .clicktextbox{
        display: block;
        text-align: left;
        -webkit-transform: scale(0);
        transform: scale(0);
        height: 0;
        overflow: hidden;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        .clicktextleft{
          display: table-cell;
          vertical-align: middle;
          width: 100%;
          color: theme-color("primary-light2");
          font-size: 10px;
          font-weight: 400;
          line-height: 12px;
          padding-right: 15px;
        }
        .clickicon{
          display: table-cell;
          vertical-align: middle;
          white-space: nowrap;

          .viewbtn{
            display: inline-block;
            width: 20px;
            height: 20px;
            line-height: 18px;
            text-align: center;
            text-decoration: none;
            font-size: 11px;
            color: theme-color("white");
            background: theme-color("indi-text-color");
            -webkit-border-radius: 3px;
            border-radius: 3px;
          }
        }
      }
    }
    &:hover{
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
      z-index: 1;
      background: theme-color("primary");
      border-color: theme-color("primary");

      @media (max-width: 767px){
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }

      .cseboxinner{
        .papertext{
          text-align: left;
          font-size: 12px;
          color: theme-color("white");
        }
        .paperprice{
          text-align: left;
          font-size: 13px;
          color: theme-color("white");
        }
        .clicktextbox{
          padding-top: 15px;
          -webkit-transform: scale(1);
          transform: scale(1);
          height: auto;
        }
      }

      &:after{
        color: theme-color("white");
      }
      &:before{
        border-color: theme-color("white");
      }
    }
  }
  input[type="checkbox"]{
    opacity: 0;
    position: absolute;

    &:focus{
      & + label{
        &:before{outline: thin dotted;
          outline: 0px auto -webkit-focus-ring-color;
          outline-offset: 0px;
        }
      }
    }
    &:checked{
      & + .csexamboxinner{
        &:after{
          font-family: 'FontAwesome'; 
          content: "\f00c";
          color: theme-color("primary-text-color");
        }
        &:hover{
          &:after{
            color: theme-color("white");
          }
        }
      }
    }
    &:disabled{
      & + label{
        opacity: 0.65;
        &:before{
          background-color: theme-color("light-gray"); 
          cursor: not-allowed; 
        }
        &:before{
          background: transparent; 
          border-color: theme-color("white");
        }
      }
    }
  }
}
.viewdetailsmodal{
  .modal-dialog{
    width: 100%;
    max-width: 1200px;

    @media (max-width: 991px) {
      width: auto;
      margin: 10px;
    }

    .modal-content{
      border: none;
      background: theme-color("primary");

      .modal-body{
        padding: 30px 40px;

        @media (max-width: 767px) {
          padding: 20px 20px;
        }

        .modaltop{
          display: block;
          margin: 0px 0px 30px 0px;

          @media (max-width: 767px) {
            margin: 0px 0px 20px 0px;
          }

          .modalprice{
            display: table-cell;
            vertical-align: middle;
            padding-right: 10px;

            .modalptext{
              display: inline-block;
              white-space: nowrap;
              color: theme-color("white");
              font-size: 16px;
              font-weight: 600;
              background: theme-color("red");
              padding: 2px 15px;
              -webkit-border-radius: 4px;
              border-radius: 4px;

              @media (max-width: 767px) {
                font-size: 14px;
              }
            }
          }
          .modalheading{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            text-align: center;
            font-size: 28px;
            font-weight: 400;
            color: theme-color("white");

            @media (max-width: 767px) {
              font-size: 20px;
            }
          }
          .modalclose{
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;

            .close{
              background: theme-color("default");
              color: theme-color("white");
              width: 30px;
              height: 30px;
              -webkit-border-radius: 4px;
              border-radius: 4px;
              color: theme-color("white");
              font-size: 18px;
              opacity: 1;

              @media (max-width: 767px) {
                width: 24px;
                height: 24px;
                line-height: 22px;
                font-size: 16px;
              }
            }
          }
        }
      }
      .modalinner{
        display: block;
        padding: 0px;
        background: theme-color("white");
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: -6px 14px 76px 0px rgba(17, 38, 62, 0.5);
        box-shadow: -6px 14px 76px 0px rgba(17, 38, 62, 0.5);

        .tablecorner{
          position: relative;
          margin: 0px 0px 20px 0px;
    
          &:before{
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 6px;
            height: 6px;
            border: 1px solid theme-color("table-border");
            border-right: none;
            border-bottom: none;
            border-top-left-radius: 6px;
          }
          &:after{
            content: "";
            position: absolute;
            right: 0px;
            top: 0px;
            width: 6px;
            height: 6px;
            border: 1px solid theme-color("table-border");
            border-left: none;
            border-bottom: none;
            border-top-right-radius: 6px;
          }
    
          .tablecornerinner{
            position: relative;
    
            &:before{
              content: "";
              position: absolute;
              left: 0px;
              bottom: 0px;
              width: 6px;
              height: 6px;
              border: 1px solid theme-color("table-border");
              border-right: none;
              border-top: none;
              border-bottom-left-radius: 6px;
            }
            &:after{
              content: "";
              position: absolute;
              right: 0px;
              bottom: 0px;
              width: 6px;
              height: 6px;
              border: 1px solid theme-color("table-border");
              border-left: none;
              border-top: none;
              border-bottom-right-radius: 6px;
            }
          }
    
          .table-responsive{
            margin: 0px;
          }
        }
        table{
          border-color: theme-color("table-border");
          -webkit-border-radius: 6px;
          border-radius: 6px;
          overflow: hidden;
          margin: 0px;
          thead{
            tr{
              th{
                color: theme-color("primary-text-color");
                border-color: theme-color("table-border");
                border-bottom-width: 1px;
                font-weight: 500;
                font-size: 15px;
                vertical-align: middle;
                padding: 15px 15px;
    
                &.tabone{
                  width: 23%;
                }
                &.tabtwo{
                  width: 55%;
                }
                &.tabthree{
                  width: 22%;
                }
                &:last-child{
                  text-align: center;
                }
              }
            }
          }
          tbody{
            tr{
              td{
                color: theme-color("table-color");
                border-color: theme-color("table-border");
                font-size: 14px;
                font-weight: 400;
                vertical-align: top;
                padding: 15px 15px;
    
                strong{
                  color: theme-color("primary");
                  font-weight: 500;
                }
    
                &:last-child{
                  text-align: center;
                }
                &.tab50{
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}