.footercontainer{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  background: theme-color("primary");

  .copyright{
    display: block;
    text-align: center;
    color: theme-color("primary-light2");
    font-size: 14px;
    padding: 25px 0px;
    line-height: 100%;

    a{
      color: theme-color("primary-light2");
      text-decoration: none;

      &:hover{
        color: theme-color("white");
      }
    }
  }
  
}