
.cstcolumn{
  .cstepbox{
    float: left;
    width: 100%;
    background: theme-color("white");
    padding: 40px 10px;
    height: 100%;
    position: relative;
    text-align: center;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    .cstepboxicon{
      display: inline-block;
      width: 110px;
      height: 110px;
      border: 1px solid theme-color("default");
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: relative;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      @media (max-width: 991px){
        width: 90px;
        height: 90px;
      }

      &:after{
        content: "";
        position: absolute;
        left: -3px;
        right: -3px;
        top: -3px;
        bottom: -3px;
        pointer-events: none;
        border: 5px solid theme-color("default-light");
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border-left: 5px solid transparent;
        border-top: 5px solid transparent;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
      i{
        height: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: theme-color("primary-dark-text-color");
        font-size: 3.5em;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;

        @media (max-width: 767px) {
          font-size: 2.5em;
        }
      }
    }
    h3{
      color: theme-color("primary-text-color");
      font-size: 18px;
      font-weight: 500;
      margin: 20px 0px 0px 0px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      @media (max-width: 767px) {
        font-size: 16px;
      }
    }
    .plusbtn{
      position: absolute;
      left: 50%;
      bottom: -15px;
      width: 36px;
      height: 36px;
      text-align: center;
      line-height: 36px;
      font-size: 12px;
      text-decoration: none;
      background: theme-color("secondary-light");
      color: theme-color("primary-dark-text-color");
      border: 1px solid theme-color("secondary-dark");
      -webkit-border-radius: 50%;
      border-radius: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      opacity: 0;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
  }

  &:nth-child(2){
    .cstepbox{
      .cstepboxicon{
        border: 1px solid theme-color("primary");

        &:after{
          border: 5px solid theme-color("primary-light");
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border-left: 5px solid transparent;
          border-top: 5px solid transparent;
        }
      }
    }
  }
  &:nth-child(3){
    .cstepbox{
      .cstepboxicon{
        border: 1px solid theme-color("purple");

        &:after{
          border: 5px solid theme-color("purple-light");
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border-left: 5px solid transparent;
          border-top: 5px solid transparent;
        }
      }
    }
  }
  &:nth-child(4){
    .cstepbox{
      .cstepboxicon{
        border: 1px solid theme-color("red");

        &:after{
          border: 5px solid theme-color("red-light");
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border-left: 5px solid transparent;
          border-top: 5px solid transparent;
        }
      }
    }
  }
  &:hover{
    .cstepbox{
      background: theme-color("secondary");
      -webkit-box-shadow: 4px 51px 79px 0px rgba(255, 136, 77, 0.4);
      box-shadow: 4px 51px 79px 0px rgba(255, 136, 77, 0.4);

      .cstepboxicon{
        border: 1px solid theme-color("white");

        i{
          color: theme-color("white");
        }

        &:after{
          border: 5px solid theme-color("white");
          -webkit-border-radius: 50%;
          border-radius: 50%;
          border-left: 5px solid transparent;
          border-top: 5px solid transparent;
        }
      }
      h3{
        color: theme-color("white");
      }
      .plusbtn{
        -webkit-transform: translateX(-50%) rotate(360deg);
        transform: translateX(-50%) rotate(360deg);
        opacity: 1;
      }
    }
  }
}
.btngroup{
  display: block;
  margin: 40px 0px 0px 0px;

  .default-btn{
    margin: 0px 4px 0px 0px;
  }
  .primary-btn{
    margin: 0px 4px 0px 0px;
  }
}
.stepbxheading{
  display: block;
  text-align: left;

  .stepbxleft{
    display: table-cell;
    vertical-align: top;
    width: 100%;
  }
  .stepbxright{
    display: table-cell;
    vertical-align: top;

    .backstepbtn{
      display: block;
      color: theme-color("primary");
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      text-decoration: none;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      span{
        @media (max-width: 767px) {
          display: none;
        }
      }

      i{
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
      }
      &:hover{
        color: theme-color("default");
      }
    }
  }
}
.stepcheckbox{
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 30px;
  position: relative;

  label{
    display: block;
    position: relative;
    background: theme-color("white");
    padding: 10px 15px;
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin:0px;
    color: theme-color("primary-text-color");
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 1px 0px rgba(144, 164, 196, 0.27);
    box-shadow: 4px 5px 1px 0px rgba(144, 164, 196, 0.27);

    span{
      display: block;
    }
  }
  input[type="checkbox"]{
    opacity: 0;
    position: absolute;

    & + label{
      &:after{
        position: absolute;
        right: 100%;
        bottom: 0px;
        width: 30px;
        height: 34px;
        text-align: center;
        line-height: 34px;
        background: theme-color("primary");
        font-family: 'icomoon';
        content: "\e909";
        color: theme-color("white");
        -webkit-border-radius: 5px 0px 0px 5px;
        border-radius: 5px 0px 0px 5px;
      }
    }

    &:checked{
      & + label{
        background: theme-color("primary");
        color: theme-color("white");
        -webkit-box-shadow: 4px 24px 43px 0px rgba(64, 79, 104, 0.36);
        box-shadow: 4px 24px 43px 0px rgba(64, 79, 104, 0.36);

        &:after{
          background: theme-color("default");
        }
      }
    }
  }
  .ctcheckbt{
    display: block;

    @media (max-width: 991px) {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .ctcheckicon{
      display: table-cell;
      vertical-align: middle;
      padding-right: 10px;

      i{
        height: 40px;
        width: 40px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: theme-color("secondary");
        color: theme-color("white");
        border: 1px solid theme-color("secondary-dark");
        font-size: 1.4em;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
    }
    .ctcheckcontent{
      display: table-cell;
      vertical-align: middle;
    }
    &.primaryct{
      .ctcheckicon{
        i{
          background: theme-color("primary-light2");
          border-color: theme-color("primary");
        }
      }
    }
    &.defaultct{
      .ctcheckicon{
        i{
          background: theme-color("default-lighter");
          border-color: theme-color("default");
        }
      }
    }
  }
  .actionbtn{
    display: inline-block;
    padding: 15px 5px;
    background: theme-color("step-wizard-bg");
    color: theme-color("primary-text-color");
    text-decoration: none;
    min-width: 22px;
    text-align: center;
    -webkit-border-radius: 30px;
    border-radius: 30px;

    @media (max-width: 991px) {
      width: 36px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      padding: 0px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
}     
.examboxouter{
  float: left;
  width: 100%;
  background: theme-color("white");
  padding: 20px 20px;
  color: theme-color("primary-text-color");
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 1px 0px rgba(144, 164, 196, 0.27);
  box-shadow: 4px 5px 1px 0px rgba(144, 164, 196, 0.27);

  .subbox{
    float: left;
    width: 100%;

    @media (max-width: 1201px) {
      text-align: center;
      margin-bottom: 10px;
    }

    .subjectheading{
      float: left;
      width: 100%;
      text-align: left;
      padding: 14px 20px;
      background: theme-color("primary");
      color: theme-color("white");
      font-size: 14px;
      font-weight: 500;
      margin: 5px 0px;
      -webkit-border-radius: 40px 0px 0px 40px;
      border-radius: 40px 0px 0px 40px;

      & + .subjectheading{
        background: theme-color("default");
      }
      @media (max-width: 1201px) {
        float: none;
        width: auto;
        padding: 10px 20px;
        display: inline-block;
        -webkit-border-radius: 40px;
        border-radius: 40px;
      }
      @media (max-width: 991px){
        font-size: 13px;
        padding: 8px 15px;
      }

    }
  }
  .examboxinner{
    float: left;
    width: 100%;
    background: theme-color("step-wizard-bg");
    padding: 30px 15px;
    -webkit-border-radius: 30px;
    border-radius: 30px;

    .subjectgroup{
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0px -1px;

      .subjecttextbox{
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
        padding: 0px 1px;

        .textbox{
          display: block;
          background: theme-color("white");
          border: 1px solid theme-color("register-border");
          color: theme-color("primary-text-color");
          font-size: 14px;
          font-weight: 500;
          height: 100%;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          align-items: center;
          padding: 10px 15px;
          -webkit-border-radius: 30px 0px 0px 30px;
          border-radius: 30px 0px 0px 30px;

          @media (max-width: 575px) {
            font-size: 13px;
          }
        }
        & + .subjecttextbox{
          -ms-flex: 0 0 60%;
          flex: 0 0 60%;
          max-width: 60%;

          .textbox{
            -webkit-border-radius: 0px 30px 30px 0px;
            border-radius: 0px 30px 30px 0px;
            font-weight: 400;
          }
        }
      }
    }
    .attemptbtn{
      display: inline-block;
      text-align: center;
      padding: 12px 30px;
      background: theme-color("secondary");
      color: theme-color("white");
      font-size: 14px;
      font-weight: 500;
      border: none;
      outline: none;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;

      &:hover{
        background: theme-color("default");
      }
    }
  }
  .pheading{
    display: block;
    color: theme-color("primary");
    font-size: 18px;
    font-weight: 500;
    margin: 0px 0px 10px 0px;
  }
  .tablecorner{
    position: relative;
    margin: 0px 0px 20px 0px;

    &:before{
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 6px;
      height: 6px;
      border: 1px solid theme-color("table-border");
      border-right: none;
      border-bottom: none;
      border-top-left-radius: 6px;
    }
    &:after{
      content: "";
      position: absolute;
      right: 0px;
      top: 0px;
      width: 6px;
      height: 6px;
      border: 1px solid theme-color("table-border");
      border-left: none;
      border-bottom: none;
      border-top-right-radius: 6px;
    }

    .tablecornerinner{
      position: relative;

      &:before{
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 6px;
        height: 6px;
        border: 1px solid theme-color("table-border");
        border-right: none;
        border-top: none;
        border-bottom-left-radius: 6px;
      }
      &:after{
        content: "";
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 6px;
        height: 6px;
        border: 1px solid theme-color("table-border");
        border-left: none;
        border-top: none;
        border-bottom-right-radius: 6px;
      }
    }

    .table-responsive{
      margin: 0px;
    }
  }
  table{
    border-color: theme-color("table-border");
    -webkit-border-radius: 6px;
    border-radius: 6px;
    overflow: hidden;
    margin: 0px;
    thead{
      tr{
        th{
          color: theme-color("primary-text-color");
          border-color: theme-color("table-border");
          border-bottom-width: 1px;
          font-weight: 500;
          font-size: 15px;
          vertical-align: middle;

          &.tabone{
            width: 23%;
          }
          &.tabtwo{
            width: 55%;
          }
          &.tabthree{
            width: 22%;
          }
          &:last-child{
            text-align: center;
          }
        }
      }
    }
    tbody{
      tr{
        td{
          color: theme-color("table-color");
          border-color: theme-color("table-border");
          font-size: 14px;
          font-weight: 400;
          vertical-align: top;

          strong{
            color: theme-color("primary");
            font-weight: 500;
          }

          &:last-child{
            text-align: center;
          }
          &.tab50{
            width: 50%;
          }
        }
      }
    }
  }
  .btnattempt{
    width: 100%;
    padding: 12px 15px;
    text-align: center;
    color: theme-color("white");
    background: theme-color("secondary");
    font-size: 18px;
    font-weight: 500;
    border: none;
    outline: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;

    &:hover{
      background: theme-color("primary");
    }
  }
}
.examdetailsboxouter{
  float: left;
  width: 100%;

  .examdetailsboxtop{
    float: left;
    width: 100%;
    background: theme-color("white");
    padding: 30px 30px;
    color: theme-color("primary-text-color");
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
    box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);

    @media (max-width: 767px) {
      padding: 20px;
    }

    .questionnbox{
      float: left;
      width: 100%;
      background: theme-color("step-wizard-bg");
      padding: 25px 20px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      border: 1px solid theme-color("register-border");

      .quesrow{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -5px;
        margin-left: -5px;

        .quescolumn{
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
          text-align: center;
          margin: 5px 0px;

          @media (max-width: 991px) {
            -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
          }
          @media (max-width: 767px) {
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
          }
          @media (max-width: 400px) {
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            max-width: 25%;
          }

          .quesbtn{
            display: inline-block;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 38px;
            padding: 0px;
            text-decoration: none;
            background: theme-color("white");
            border: 1px solid theme-color("register-border");
            -webkit-border-radius: 50%;
            border-radius: 50%;
            color: theme-color("primary-text-color");
            font-size: 14px;
            font-weight: 400;

            &.ansbtn{
              background: theme-color("default");
              border: 1px solid theme-color("default-dark");
              color: theme-color("white");
              -webkit-box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
              box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
            }
            &.notansbtn{
              background: theme-color("secondary");
              border: 1px solid theme-color("secondary-dark");
              color: theme-color("white");
              -webkit-box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
              box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
            }
          }
        }
      }
    }
    .questionboxleft{
      float: left;
      width: 100%;
      padding-right: 30px;

      @media (max-width: 767px) {
        padding-right: 0px;
      }
      
      .subheading{
        float: left;
        width: 100%;
        margin-bottom: 25px;

        @media (max-width: 767px) {
          margin-top: 25px;
        }
        
        .subheadingleft{
          display: table-cell;
          vertical-align: top;
          width: 100%;
          padding-right: 10px;

          @media (max-width: 991px) {
            display: block;
            padding-right: 0px;
          }

          h5{
            color: theme-color("primary");
            font-size: 22px;
            font-weight: 600;
            margin: 0px 0px 5px 0px;

            span{
              color: theme-color("primary-text-color");
            }
          }
          p{
            color: theme-color("primary-text-color");
            font-size: 15px;
            margin: 0px;

            span{
              color: theme-color("default");
            }
          }
        }
        .subheadingright{
          display: table-cell;
          vertical-align: middle;
          white-space: nowrap;

          @media (max-width: 991px) {
            display: block;
            padding-top: 15px;
          }

          .controlbtn{
            display: inline-block;
            padding: 8px 30px;
            color: theme-color("primary");
            border: 2px solid theme-color("primary");
            background: theme-color("primary-light3");
            outline: none;
            font-size: 14px;
            font-weight: 500;
            -webkit-border-radius: 40px;
            border-radius: 40px;
            min-width: 130px;
            white-space: nowrap;

            i{
              padding-right: 6px;
              display: inline-block;
              vertical-align: middle;
            }
            @media (max-width: 1201px) {
              font-size: 13px;
              padding: 7px 20px;
              min-width: 0px;
            }
          }
          .timebtn{
            display: inline-block;
            padding: 8px 30px;
            color: theme-color("secondary");
            border: 2px solid theme-color("secondary");
            background: theme-color("secondary-light2");
            outline: none;
            font-size: 14px;
            font-weight: 500;
            -webkit-border-radius: 40px;
            border-radius: 40px;
            min-width: 130px;
            white-space: nowrap;

            i{
              padding-right: 6px;
              display: inline-block;
              vertical-align: middle;
              font-size: 141%;
              line-height: 21px;
            }
            @media (max-width: 1201px) {
              font-size: 13px;
              padding: 7px 20px;
              min-width: 0px;
            }
          }
        }
      }
      .suquestionbt{
        float: left;
        width: 100%;
        background: theme-color("step-wizard-bg");
        padding: 25px 20px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        border: 1px solid theme-color("register-border");

        .suquestionbtleft{
          display: table-cell;
          vertical-align: top;
          padding-right: 20px;
          width: 100%;

          @media (max-width: 991px) {
            display: block;
            padding-right: 0px;
          }

          h5{
            color: theme-color("primary");
            font-size: 22px;
            font-weight: 600;
            margin: 0px 0px 15px 0px;
          }
          p{
            color: theme-color("primary-text-color");
            font-size: 15px;
            margin: 0px;
            font-weight: 500;
          }
        }
        .suquestionbtright{
          display: table-cell;
          vertical-align: top;

          @media (max-width: 991px) {
            display: block;
            padding-top: 15px;
          }

          .skipbtn{
            display: block;
            font-size: 14px;
            text-decoration: underline;
            font-weight: 600;
            color: theme-color("primary-text-color");
            white-space: nowrap;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;

            &:hover{
              color: theme-color("primary");
            }
          }
        }
      }
      .questionnboxlist{
        float: left;
        width: 100%;
        padding-top: 20px;

        .radio{
          padding: 0px 0px; 
          padding-left: 20px; 
          margin-top: 0px; 
          margin-bottom: 0px; 
          display: block; 
          margin-right: 0px;
    
    
          & + .radio{
            margin-top: 0px;
          }
          label{
            display: inline-block; 
            position: relative; 
            padding-left: 13px; 
            color: theme-color("primary-text-color"); 
            min-height: 0px; 
            font-size: 14px; 
            font-weight: 500; 
            line-height: 19px;
            margin: 0;
    
            &:before{
              content: ""; 
              display: inline-block; 
              position: absolute; 
              width: 20px; 
              height: 20px; 
              left: 0; 
              margin-left: -20px; 
              border: 1px solid theme-color("primary-text-color"); 
              -webkit-border-radius: 50%;
              border-radius: 50%;
              background: transparent; 
              -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
              -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
              transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            }
            &:after{
              content: "";
              display: inline-block; 
              position: absolute; 
              width: 12px; 
              height: 12px; 
              left: 4px; 
              top: 4px; 
              margin-left: -20px; 
              padding-left: 4px;
              padding-top: 0px; 
              font-size: 11px; 
              background: theme-color("primary-text-color"); 
              -webkit-border-radius: 50%;
              border-radius: 50%;
              -webkit-transform: scale(0);
              transform: scale(0);
            }
            a{
              color: theme-color("primary");
              text-decoration: none;

              &:hover{
                text-decoration: underline;
              }
            }
            h6{
              color: theme-color("primary-text-color");
              font-weight: 700;
              text-align: left;
              margin: 0px 0px 10px 0px;
              font-size: 17px;
            }
            p{
              color: theme-color("primary-text-color");
              font-weight: 400;
              text-align: left;
              margin: 0px;
              font-size: 14px;
            }
          }
          input[type="radio"]{
            opacity: 0;
            position: absolute;
    
            &:focus{
              & + label{
                &:before{outline: thin dotted;
                  outline: 0px auto -webkit-focus-ring-color;
                  outline-offset: 0px;
                }
              }
            }
            &:checked{
              & + label{
                &:after{
                  -webkit-transform: scale(1);
                  transform: scale(1);
                }
              }
            }
            &:disabled{
              & + label{
                opacity: 0.65;
                &:before{
                  background-color: theme-color("light-gray"); 
                  cursor: not-allowed; 
                }
                &:before{
                  background: transparent; 
                  border-color: theme-color("white");
                }
              }
            }
          }
        }
      }
    }
  }
  .examdetailsboxbtm{
    float: left;
    width: 100%;
    background: theme-color("secondary");
    padding: 0px 15px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
    box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);

    @media (max-width: 991px) {
      padding: 15px 15px;
    }

    .examborder{
      & + .examborder{
        border-left: 1px solid theme-color("white");

        @media (max-width: 991px) {
          border-left: none;
        }
      }
      .exambtngroup{
        display: block;
        padding: 40px 0px;
        text-align: center;

        @media (max-width: 991px) {
          padding: 0px 0px 5px 0px;
        }

        .exambtn{
          display: inline-block;
          text-align: center;
          padding: 8px 20px;
          background: theme-color("secondary-light3");
          color: theme-color("white");
          border: 1px solid theme-color("white");
          font-size: 16px;
          font-weight: 500;
          margin: 5px 0px;
          -webkit-border-radius: 40px;
          border-radius: 40px;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;

          @media (max-width: 1201px) {
            font-size: 14px;
            padding: 7px 10px;
            width: 100%;
          }

          i{
            display: inline-block;
            vertical-align: middle;
            padding: 0px 3px;
          }
          span{
            display: inline-block;
            vertical-align: middle;
            padding: 0px 3px;
          }

          &:hover{
            background: theme-color("white");
            color: theme-color("primary-text-color");
          }
        }
      }
    }
  }
}
.reportboxouter{
  float: left;
  width: 100%;
  background: theme-color("white");
  padding: 30px 30px;
  color: theme-color("primary-text-color");
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
  box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);

  @media (max-width: 767px) {
    padding: 20px;
  }

  h2{
    color: theme-color("primary-text-color");
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 35px 0px;

    @media (max-width: 767px) {
      font-size: 20px;
      margin: 0px 0px 20px 0px;
    }
  }
  .taketimebxouter{
    float: left;
    width: 100%;
    margin: 0px;
    background: theme-color("step-wizard-bg");
    -webkit-border-radius: 30px;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid theme-color("register-border");

    .taketimebxtop{
      float: left;
      width: 100%;
      background: theme-color("primary");
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 70px 10px;
      position: relative;
      overflow: hidden;

      &:after{
        position: absolute;
        left: 57%;
        top: 50%;
        font-size: 17em;
        content: "\e91f";
        font-family: 'icomoon';
        color: theme-color("primary-light2");
        opacity: 0.1;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
      }

      .taketimeheading{
        display: block;
        position: relative;
        z-index: 1;

        .taketimeheadicon{
          display: table-cell;
          vertical-align: middle;
          padding-right: 20px;

          i{
            font-size: 7em;
            color: theme-color("white");
            float: left;

            @media (max-width: 1201px) {
              font-size: 5em;
            }
          }
        }
        .taketimeheadcontent{
          display: table-cell;
          vertical-align: middle;
          color: theme-color("white");
          line-height: 100%;
          padding-top: 7px;
          font-size: 24px;

          @media (max-width: 1201px) {
            font-size: 18px;
          }
        }
      }
    }
    .taketimebxbtm{
      float: left;
      width: 100%;
      padding: 40px 10px 60px 10px;
      text-align: center;
      margin-top: -67px;
      position: relative;
      z-index: 1;

      .taketimectbox{
        display: inline-block;
        text-align: center;
        margin: 0px 15px;

        .timebxicon{
          display: inline-block;
          width: 60px;
          height: 60px;
          text-align: center;
          line-height: 60px;
          font-size: 15px;
          color: theme-color("white");
          background: theme-color("default");
          border: 1px solid theme-color("default-dark");
          -webkit-box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
          box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
          -webkit-border-radius: 50%;
          border-radius: 50%;

          @media (max-width: 1201px) {
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
          }
        }
        .timetext{
          margin: 15px 0px 0px 0px;
          text-align: center;
          font-size: 15px;
          font-weight: 600;
          color: theme-color("primary-text-color");
          
          @media (max-width: 1201px) {
            font-size: 13px;
          }
        }
        &.minute{
          .timebxicon{
            background: theme-color("secondary");
            border: 1px solid theme-color("secondary-dark");
            -webkit-box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
            box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
          }
        }
        &.second{
          .timebxicon{
            background: theme-color("second-bg");
            border: 1px solid theme-color("second-border");
            -webkit-box-shadow: 0px 19px 24px 0px rgba(119, 137, 168, 0.42);
            box-shadow: 0px 19px 24px 0px rgba(119, 137, 168, 0.42);
          }
        }
      }
    }
  }
  .taketimetext{
    float: left;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
    padding: 30px 0px 10px 0px;

    @media (max-width: 767px) {
      padding: 20px 0px 30px 0px;
    }
  }
  .assesmentbox{
    float: left;
    width: 100%;
    padding: 10px;
    background: theme-color("step-wizard-bg");
    border: 1px solid theme-color("register-border");
    -webkit-border-radius: 30px;
    border-radius: 30px;

    .assesmentboxinner{
      float: left;
      width: 100%;
      padding: 15px;
      background: theme-color("white");
      border: 1px solid theme-color("register-border");
      -webkit-border-radius: 30px;
      border-radius: 30px;

      h3{
        color: theme-color("primary-text-color");
        font-size: 24px;
        font-weight: 500;
        text-align: center;
        margin: 10px 0px 15px 0px;

        @media (max-width: 767px) {
          font-size: 20px;
        }
      }
      .table{
        border-color: theme-color("register-border");

        thead{
          tr{
            th{
              border-bottom-width: 1px;
              background: theme-color("step-wizard-bg");
              border-color: theme-color("register-border");
              font-size: 17px;
              color: theme-color("primary-text-color");
              font-weight: 600;
              padding: 10px 20px;
              vertical-align: middle;

              @media (max-width: 1201px) {
                font-size: 14px;
                padding: 10px 15px;
              }
            }
          }
        }
        tbody{
          tr{
            td{
              border-color: theme-color("register-border");
              font-size: 15px;
              color: theme-color("primary-text-color");
              font-weight: 400;
              padding: 10px 20px;
              vertical-align: middle;

              @media (max-width: 1201px) {
                font-size: 14px;
                padding: 10px 15px;
              }

              &.actionbx{
                background: theme-color("secondary");
                text-align: center;
                vertical-align: middle;
                color: theme-color("white");

                a{
                  text-decoration: none;
                  color: theme-color("white");
                }
              }
              h4{
                font-size: 17px;
                color: theme-color("primary-text-color");
                font-weight: 600;
                margin: 0px 0px 5px 0px;

                @media (max-width: 1201px) {
                  font-size: 15px;
                }
              }
              p{
                font-size: 14px;
                color: theme-color("primary-text-color");
                font-weight: 500;
                margin: 0px;

                @media (max-width: 1201px) {
                  font-size: 13px;
                }
              }
            }
            .progress{
              height: 8px;
              background: theme-color("step-wizard-bg");
              -webkit-border-radius: 40px;
              border-radius: 40px;
              margin: 45px 0px 30px 0px;
              overflow: inherit;
  
              @media (max-width: 767px){
                margin: 30px 0px 50px 0px;
              }
  
              .progress-bar{
                background-color: theme-color("default");
                background-image: linear-gradient(-45deg, rgba(47, 61, 72, 0.50) 25%, transparent 25%, transparent 50%, rgba(58, 71, 82, 0.50) 50%, rgba(47, 61, 72, 0.50) 75%, transparent 75%, transparent);
                background-size: 6px 6px;
                position: relative;
                overflow: inherit;
                -webkit-border-radius: 30px;
                border-radius: 30px;
              }
            }
          }
        }
      }
      .techsupportbox{
        display: block;
        border: 1px solid theme-color("register-border");
        margin-bottom: 1rem;

        .techtext{
          float: left;
          width: 100%;
          padding: 20px;

          h4{
            font-size: 17px;
            color: theme-color("primary-text-color");
            font-weight: 600;
            margin: 0px 0px 5px 0px;

            @media (max-width: 1201px) {
              font-size: 15px;
            }
          }
          p{
            font-size: 14px;
            color: theme-color("primary-text-color");
            font-weight: 500;
            margin: 0px;

            @media (max-width: 1201px) {
              font-size: 13px;
            }
          }
        }
        .techindibox{
          float: left;
          width: 100%;
          margin-bottom: 1rem;

          @media (max-width: 767px) {
            padding: 0px 10px;
          }

          .techrow{
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;

            @media (max-width: 767px) {
              margin: 0px -2px;
            }

            .techcolumn{
              -ms-flex: 0 0 20%;
              flex: 0 0 20%;
              max-width: 20%;

              @media (max-width: 767px) {
                padding: 0px 2px;
                -ms-flex: 0 0 33.33333%;
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
                margin-bottom: 4px;
              }
              @media (max-width: 767px) {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
              }

              .techcbox{
                float: left;
                width: 100%;
                height: 120px;
                padding: 2px 5px;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: wrap;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                border: 1px solid theme-color("register-border");
                border-top: none;
                border-right: none;
                color: theme-color("primary-text-color");
                font-size: 14px;
                font-weight: 400;

                @media (max-width: 767px) {
                  border: 1px solid theme-color("register-border");
                  padding: 4px 10px;
                }

                span{
                  display: block;
                  width: 100%;
                  margin: 6px 0px;
                }
              }
            }
          }
        }
        .techvaluebox{
          float: left;
          width: 100%;
          border: 1px solid theme-color("register-border");
          padding: 15px;
          border-right: none;
          margin-bottom: 1rem;
          text-align: center;

          @media (max-width: 767px) {
            border-left: none;
          }

          h6{
            color: theme-color("primary-text-color");
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            margin: 0px 0px 10px 0px;
          }
          h4{
            font-size: 17px;
            color: theme-color("primary-text-color");
            font-weight: 600;
            margin: 0px 0px 5px 0px;
          }
          p{
            font-size: 14px;
            color: theme-color("primary-text-color");
            font-weight: 500;
            margin: 0px;
          }
          .indibx{
            display: inline-block;
            margin: 5px 5px;

            .indibc{
              display: table-cell;
              vertical-align: middle;
              padding-right: 4px;

              span{
                float: left;
                width: 13px;
                height: 13px;
                background: theme-color("primary");
                -webkit-border-radius: 50%;
                border-radius: 50%;
              }
            }
            .indibcontent{
              display: table-cell;
              vertical-align: middle;
              color: theme-color("indi-text-color");
              font-size: 13px;
              font-weight: 400;
            }
            &.verylow{
              .indibc{
                span{
                  background: theme-color("red");
                }
              }
            }
            &.low{
              .indibc{
                span{
                  background: theme-color("arbor");
                }
              }
            }
            &.moderate{
              .indibc{
                span{
                  background: theme-color("yellow");
                }
              }
            }
            &.high{
              .indibc{
                span{
                  background: theme-color("pink");
                }
              }
            }
            &.veryhigh{
              .indibc{
                span{
                  background: theme-color("grape");
                }
              }
            }
          }
        }
      }
    }
  }
  .reportquestionbx{
    float: left;
    width: 100%;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 1px solid theme-color("register-border");

    .owl-carousel{
      .owl-stage{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: flex; 
        -webkit-flex-wrap: wrap; 
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;
      }
      .owl-item{
        display: -webkit-flex; 
        display: -ms-flexbox; 
        display: flex;

        &.active{
          & + .active{
            border-left: 1px solid theme-color("register-border");
          }
        }

        .item{
          float: left;
          width: 100%;

          .repoquestionitem{
            float: left; 
            width: 100%;
            padding: 25px;

            h3{
              color: theme-color("primary-text-color");
              margin: 0px 0px 10px 0px;
              font-size: 20px;
              font-weight: 600;

              @media (max-width: 767px) {
                font-size: 18px;
              }
            }
            p{
              color: theme-color("primary-text-color");
              margin: 0px 0px 10px 0px;
              font-size: 16px;
              font-weight: 500;

              @media (max-width: 767px) {
                font-size: 14px;
              }
            }
            .skipqbtn{
              color: theme-color("secondary");
              margin: 0px 0px 10px 0px;
              font-size: 15px;
              font-weight: 500;

              @media (max-width: 767px) {
                font-size: 14px;
              }

              a{
                color: theme-color("secondary");
                text-decoration: none;
                -webkit-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;

                &:hover{
                  color: theme-color("default");
                }
              }
            }
            .ctanws{
              color: theme-color("primary-text-color");
              margin: 0px 0px 10px 0px;
              font-size: 15px;
              font-weight: 400;

              @media (max-width: 767px) {
                font-size: 15px;
              }

              strong{
                color: theme-color("primary");
                font-size: 120%;
                font-weight: 700;
                padding-right: 10px;
              }
            }
            .radio{
              padding: 0px 0px; 
              padding-left: 20px; 
              margin-top: 0px; 
              margin-bottom: 0px; 
              display: block; 
              margin-right: 0px;
        
        
              & + .radio{
                margin-top: 0px;
              }
              label{
                display: inline-block; 
                position: relative; 
                padding-left: 13px; 
                color: theme-color("primary-text-color"); 
                min-height: 0px; 
                font-size: 14px; 
                font-weight: 500; 
                line-height: 19px;
                margin: 0;
        
                &:before{
                  content: ""; 
                  display: inline-block; 
                  position: absolute; 
                  width: 20px; 
                  height: 20px; 
                  left: 0; 
                  margin-left: -20px; 
                  border: 1px solid theme-color("primary-text-color"); 
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                  background: transparent; 
                  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                }
                &:after{
                  content: "";
                  display: inline-block; 
                  position: absolute; 
                  width: 12px; 
                  height: 12px; 
                  left: 4px; 
                  top: 4px; 
                  margin-left: -20px; 
                  padding-left: 4px;
                  padding-top: 0px; 
                  font-size: 11px; 
                  background: theme-color("primary-text-color"); 
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                  -webkit-transform: scale(0);
                  transform: scale(0);
                }
                a{
                  color: theme-color("primary");
                  text-decoration: none;
  
                  &:hover{
                    text-decoration: underline;
                  }
                }
                h6{
                  color: theme-color("primary-text-color");
                  font-weight: 700;
                  text-align: left;
                  margin: 0px 0px 10px 0px;
                  font-size: 17px;

                  @media (max-width: 767px) {
                    font-size: 15px;
                  }
                }
                p{
                  color: theme-color("primary-text-color");
                  font-weight: 400;
                  text-align: left;
                  margin: 0px;
                  font-size: 14px;

                  @media (max-width: 767px) {
                    font-size: 13px;
                  }
                }
              }
              input[type="radio"]{
                opacity: 0;
                position: absolute;
        
                &:focus{
                  & + label{
                    &:before{outline: thin dotted;
                      outline: 0px auto -webkit-focus-ring-color;
                      outline-offset: 0px;
                    }
                  }
                }
                &:checked{
                  & + label{
                    &:after{
                      -webkit-transform: scale(1);
                      transform: scale(1);
                      background: theme-color("primary");
                    }
                    &:before{
                      border-color: theme-color("primary");
                    }
                  }
                }
                &:disabled{
                  & + label{
                    opacity: 0.65;
                    &:before{
                      background-color: theme-color("light-gray"); 
                      cursor: not-allowed; 
                    }
                    &:before{
                      background: transparent; 
                      border-color: theme-color("white");
                    }
                  }
                }
              }
            }
            .downloadbtn{
              display: inline-block;
              color: theme-color("primary-text-color");
              text-decoration: none;
              font-size: 16px;
              font-weight: 500;
              -webkit-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out;

              i{
                display: inline-block;
                vertical-align: middle;
                padding-right: 8px;
                font-size: 140%;
                color: theme-color("secondary");
              }
              span{
                display: inline-block;
                vertical-align: middle;
                padding: 2px 0px;
                line-height: 100%;
                border-bottom: 2px solid theme-color("register-border");
              }

              &:hover{
                color: theme-color("secondary");
              }
            }
          }
        }
      }
    }
  }
  .piecharbox{
    float: left;
    width: 100%;
    margin: 0px;
    background: theme-color("step-wizard-bg");
    -webkit-border-radius: 30px;
    border-radius: 30px;
    padding: 30px 20px;
    border: 1px solid theme-color("register-border");
    text-align: center;

    h3{
      color: theme-color("primary-text-color");
      font-size: 26px;
      font-weight: 600;
      text-align: center;
      margin: 0px 0px 45px 0px;
    }
    h4{
      color: theme-color("primary-text-color");
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      margin: 0px 0px 0px 0px;
    }
    .piechartbx{
      display: inline-block;
      max-width: 240px;
      margin-bottom: 40px;

      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  .piechartcaption{
    float: left;
    width: 100%;
    padding-top: 35px;

    .piechartbtc{
      float: left;
      width: 100%;

      .piebtbg{
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;

        span{
          float: left;
          width: 30px;
          height: 36px;
          background: theme-color("primary");
          border: 1px solid theme-color("primary-dark");
          -webkit-border-radius: 3px;
          border-radius: 3px;
        }
      }
      .piebtcontent{
        display: table-cell;
        vertical-align: middle;
        color: theme-color("primary-text-color");
        font-size: 14px;
        font-weight: 500;
        line-height: 18px;
      }

      &.correct{
        .piebtbg{
          span{
            background: theme-color("default");
            border: 1px solid theme-color("default-dark");
            -webkit-box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
            box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
          }
        }
      }
      &.incorrect{
        .piebtbg{
          span{
            background: theme-color("secondary");
            border: 1px solid theme-color("secondary-dark");
            -webkit-box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
            box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
          }
        }
      }
      &.unattempted{
        .piebtbg{
          span{
            background: theme-color("primary");
            border: 1px solid theme-color("primary-dark");
            -webkit-box-shadow: 0px 19px 24px 0px rgba(29, 98, 175, 0.42);
            box-shadow: 0px 19px 24px 0px rgba(29, 98, 175, 0.42);
          }
        }
      }
    }
  }
}
