.pagenotfoundbox{
  float: left;
  width: 100%;
  background: theme-color("white");
  padding: 30px;
}
.pagenotefound{
  float: left; 
  width: 100%; 
  padding: 20px 0px;

  @media (max-width: 767px){
    text-align: center;
  }

  h1{
    color: theme-color("secondary");
    font-size: 180px; 
    font-weight: 600; 
    margin: 0px 0px 20px 0px; 
    text-shadow: 4px 5px 0px rgba(237, 150, 43, 0.63);

    @media (max-width: 991px){
      font-size: 100px;
    }
  }
  h5{
    color: theme-color("secondary");  
    font-size: 30px; 
    font-weight: 600; 
    margin: 0px 0px 20px 0px;

    @media (max-width: 991px){
      font-size: 20px;
    }
  }
  p{
    color: theme-color("primary-text-color"); 
    font-weight: 500; 
    margin-bottom: 40px;
  }
  img{
    max-width: 100%; 
    max-height: 100%; 
    padding: 15px 0px;

    @media (max-width: 767px){
      padding: 0px 0px 15px 0px;
    }
    
  }
  .btn-primary{
    padding: 12px 40px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
  }
}