@import '../../../assets/scss/variables';

.reportboxouter{
    float: left;
    width: 100%;
    background: theme-color("white");
    padding: 30px 30px;
    color: theme-color("primary-text-color");
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
    box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
  
    @media (max-width: 767px) {
      padding: 20px;
    }
  
    h2{
      color: theme-color("primary-text-color");
      font-size: 24px;
      font-weight: 600;
      text-align: center;
      margin: 0px 0px 35px 0px;
  
      @media (max-width: 767px) {
        font-size: 20px;
        margin: 0px 0px 20px 0px;
      }
    }
    .taketimebxouter{
      float: left;
      width: 100%;
      margin: 0px;
      background: theme-color("step-wizard-bg");
      -webkit-border-radius: 30px;
      border-radius: 30px;
      overflow: hidden;
      border: 1px solid theme-color("register-border");
  
      .taketimebxtop{
        float: left;
        width: 100%;
        background: theme-color("primary");
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 70px 10px;
        position: relative;
        overflow: hidden;
  
        &:after{
          position: absolute;
          left: 57%;
          top: 50%;
          font-size: 17em;
          content: "\e91f";
          font-family: 'icomoon';
          color: theme-color("primary-light2");
          opacity: 0.1;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
        }
  
        .taketimeheading{
          display: block;
          position: relative;
          z-index: 1;
  
          .taketimeheadicon{
            display: table-cell;
            vertical-align: middle;
            padding-right: 20px;
  
            i{
              font-size: 7em;
              color: theme-color("white");
              float: left;
  
              @media (max-width: 1201px) {
                font-size: 5em;
              }
            }
          }
          .taketimeheadcontent{
            display: table-cell;
            vertical-align: middle;
            color: theme-color("white");
            line-height: 100%;
            padding-top: 7px;
            font-size: 24px;
  
            @media (max-width: 1201px) {
              font-size: 18px;
            }
          }
        }
      }
      .taketimebxbtm{
        float: left;
        width: 100%;
        padding: 40px 10px 60px 10px;
        text-align: center;
        margin-top: -67px;
        position: relative;
        z-index: 1;
  
        .taketimectbox{
          display: inline-block;
          text-align: center;
          margin: 0px 15px;
  
          .timebxicon{
            display: inline-block;
            width: 60px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            font-size: 15px;
            color: theme-color("white");
            background: theme-color("default");
            border: 1px solid theme-color("default-dark");
            -webkit-box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
            box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
            -webkit-border-radius: 50%;
            border-radius: 50%;
  
            @media (max-width: 1201px) {
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
            }
          }
          .timetext{
            margin: 15px 0px 0px 0px;
            text-align: center;
            font-size: 15px;
            font-weight: 600;
            color: theme-color("primary-text-color");
            
            @media (max-width: 1201px) {
              font-size: 13px;
            }
          }
          &.minute{
            .timebxicon{
              background: theme-color("secondary");
              border: 1px solid theme-color("secondary-dark");
              -webkit-box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
              box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
            }
          }
          &.second{
            .timebxicon{
              background: theme-color("second-bg");
              border: 1px solid theme-color("second-border");
              -webkit-box-shadow: 0px 19px 24px 0px rgba(119, 137, 168, 0.42);
              box-shadow: 0px 19px 24px 0px rgba(119, 137, 168, 0.42);
            }
          }
        }
      }
    }
    .taketimetext{
      float: left;
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 15px;
      padding: 30px 0px 10px 0px;
  
      @media (max-width: 767px) {
        padding: 20px 0px 30px 0px;
      }
    }
    .assesmentbox{
      float: left;
      width: 100%;
      padding: 10px;
      background: theme-color("step-wizard-bg");
      border: 1px solid theme-color("register-border");
      -webkit-border-radius: 30px;
      border-radius: 30px;
  
      .assesmentboxinner{
        float: left;
        width: 100%;
        padding: 15px;
        background: theme-color("white");
        border: 1px solid theme-color("register-border");
        -webkit-border-radius: 30px;
        border-radius: 30px;
  
        h3{
          color: theme-color("primary-text-color");
          font-size: 24px;
          font-weight: 500;
          text-align: center;
          margin: 10px 0px 15px 0px;
  
          @media (max-width: 767px) {
            font-size: 20px;
          }
        }
        .table{
          border-color: theme-color("register-border");
  
          thead{
            tr{
              th{
                border-bottom-width: 1px;
                background: theme-color("step-wizard-bg");
                border-color: theme-color("register-border");
                font-size: 15px;
                color: theme-color("primary-text-color");
                font-weight: 600;
                padding: 10px 20px;
                vertical-align: middle;
  
                @media (max-width: 1201px) {
                  font-size: 14px;
                  padding: 10px 15px;
                }
              }
            }
          }
          tbody{
            tr{
              td{
                border-color: theme-color("register-border");
                font-size: 14px;
                color: theme-color("primary-text-color");
                font-weight: 400;
                padding: 10px 20px;
                vertical-align: middle;
  
                @media (max-width: 1201px) {
                  font-size: 14px;
                  padding: 10px 15px;
                }
  
                &.actionbx{
                  background: theme-color("secondary");
                  text-align: center;
                  vertical-align: middle;
                  color: theme-color("white");
  
                  a{
                    text-decoration: none;
                    color: theme-color("white");
                  }
                }
                h4{
                  font-size: 14px;
                  color: theme-color("primary-text-color");
                  font-weight: 600;
                  margin: 0px 0px 5px 0px;
  
                  @media (max-width: 1201px) {
                    font-size: 15px;
                  }
                }
                p{
                  font-size: 13px;
                  color: theme-color("primary-text-color");
                  font-weight: 500;
                  margin: 0px;
  
                  @media (max-width: 1201px) {
                    font-size: 13px;
                  }
                }
              }
              .progress{
                height: 8px;
                background: theme-color("step-wizard-bg");
                -webkit-border-radius: 40px;
                border-radius: 40px;
                margin: 45px 0px 30px 0px;
                overflow: inherit;
    
                @media (max-width: 767px){
                  margin: 30px 0px 50px 0px;
                }
    
                .progress-bar{
                  background-color: theme-color("default");
                  background-image: linear-gradient(-45deg, rgba(47, 61, 72, 0.50) 25%, transparent 25%, transparent 50%, rgba(58, 71, 82, 0.50) 50%, rgba(47, 61, 72, 0.50) 75%, transparent 75%, transparent);
                  background-size: 6px 6px;
                  position: relative;
                  overflow: inherit;
                  -webkit-border-radius: 30px;
                  border-radius: 30px;
                }
              }
            }
          }
        }
        .techsupportbox{
          display: block;
          border: 1px solid theme-color("register-border");
          margin-bottom: 1rem;
  
          .techtext{
            float: left;
            width: 100%;
            padding: 20px;
  
            h4{
              font-size: 17px;
              color: theme-color("primary-text-color");
              font-weight: 600;
              margin: 0px 0px 5px 0px;
  
              @media (max-width: 1201px) {
                font-size: 15px;
              }
            }
            p{
              font-size: 14px;
              color: theme-color("primary-text-color");
              font-weight: 500;
              margin: 0px;
  
              @media (max-width: 1201px) {
                font-size: 13px;
              }
            }
          }
          .techindibox{
            float: left;
            width: 100%;
            margin-bottom: 1rem;
  
            @media (max-width: 767px) {
              padding: 0px 10px;
            }
  
            .techrow{
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
  
              @media (max-width: 767px) {
                margin: 0px -2px;
              }
  
              .techcolumn{
                -ms-flex: 0 0 20%;
                flex: 0 0 20%;
                max-width: 20%;
  
                @media (max-width: 767px) {
                  padding: 0px 2px;
                  -ms-flex: 0 0 33.33333%;
                  flex: 0 0 33.33333%;
                  max-width: 33.33333%;
                  margin-bottom: 4px;
                }
                @media (max-width: 767px) {
                  -ms-flex: 0 0 50%;
                  flex: 0 0 50%;
                  max-width: 50%;
                }
  
                .techcbox{
                  float: left;
                  width: 100%;
                  height: 120px;
                  padding: 2px 5px;
                  display: -ms-flexbox;
                  display: flex;
                  -ms-flex-wrap: wrap;
                  flex-wrap: wrap;
                  justify-content: center;
                  align-items: center;
                  text-align: center;
                  border: 1px solid theme-color("register-border");
                  border-top: none;
                  border-right: none;
                  color: theme-color("primary-text-color");
                  font-size: 14px;
                  font-weight: 400;
  
                  @media (max-width: 767px) {
                    border: 1px solid theme-color("register-border");
                    padding: 4px 10px;
                  }
  
                  span{
                    display: block;
                    width: 100%;
                    margin: 6px 0px;
                  }
                }
              }
            }
          }
          .techvaluebox{
            float: left;
            width: 100%;
            border: 1px solid theme-color("register-border");
            padding: 15px;
            border-right: none;
            margin-bottom: 1rem;
            text-align: center;
  
            @media (max-width: 767px) {
              border-left: none;
            }
  
            h6{
              color: theme-color("primary-text-color");
              font-size: 14px;
              font-weight: 400;
              text-align: center;
              margin: 0px 0px 10px 0px;
            }
            h4{
              font-size: 17px;
              color: theme-color("primary-text-color");
              font-weight: 600;
              margin: 0px 0px 5px 0px;
            }
            p{
              font-size: 14px;
              color: theme-color("primary-text-color");
              font-weight: 500;
              margin: 0px;
            }
            .indibx{
              display: inline-block;
              margin: 5px 5px;
  
              .indibc{
                display: table-cell;
                vertical-align: middle;
                padding-right: 4px;
  
                span{
                  float: left;
                  width: 13px;
                  height: 13px;
                  background: theme-color("primary");
                  -webkit-border-radius: 50%;
                  border-radius: 50%;
                }
              }
              .indibcontent{
                display: table-cell;
                vertical-align: middle;
                color: theme-color("indi-text-color");
                font-size: 13px;
                font-weight: 400;
              }
              &.verylow{
                .indibc{
                  span{
                    background: theme-color("red");
                  }
                }
              }
              &.low{
                .indibc{
                  span{
                    background: theme-color("arbor");
                  }
                }
              }
              &.moderate{
                .indibc{
                  span{
                    background: theme-color("yellow");
                  }
                }
              }
              &.high{
                .indibc{
                  span{
                    background: theme-color("pink");
                  }
                }
              }
              &.veryhigh{
                .indibc{
                  span{
                    background: theme-color("grape");
                  }
                }
              }
            }
          }
        }
      }
    }
    .reportquestionbx{
      float: left;
      width: 100%;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      border: 1px solid theme-color("register-border");

      .repoquestionitem{
        float: left; 
        width: 100%;
        padding: 25px;

        h3{
          color: theme-color("primary-text-color");
          margin: 0px 0px 10px 0px;
          font-size: 16px;
          font-weight: 600;

          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
        p{
          color: theme-color("primary-text-color");
          margin: 0px 0px 10px 0px;
          font-size: 14px;
          font-weight: 500;

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }
        .skipqbtn{
          color: theme-color("secondary");
          margin: 0px 0px 10px 0px;
          font-size: 15px;
          font-weight: 500;

          @media (max-width: 767px) {
            font-size: 14px;
          }

          a{
            color: theme-color("secondary");
            text-decoration: none;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;

            &:hover{
              color: theme-color("default");
            }
          }
        }
        .ctanws{
          color: theme-color("primary-text-color");
          margin: 0px 0px 10px 0px;
          font-size: 15px;
          font-weight: 400;

          @media (max-width: 767px) {
            font-size: 15px;
          }

          strong{
            color: theme-color("primary");
            font-size: 110%;
            font-weight: 700;
            padding-right: 10px;
          }
        }
        .radio{
          padding: 0px 0px; 
          padding-left: 20px; 
          margin-top: 0px; 
          margin-bottom: 0px; 
          display: block; 
          margin-right: 0px;
    
    
          & + .radio{
            margin-top: 0px;
          }
          label{
            display: inline-block; 
            position: relative; 
            padding-left: 13px; 
            color: theme-color("primary-text-color"); 
            min-height: 0px; 
            font-size: 14px; 
            font-weight: 500; 
            line-height: 19px;
            margin: 0;
    
            &:before{
              content: ""; 
              display: inline-block; 
              position: absolute; 
              width: 20px; 
              height: 20px; 
              left: 0; 
              margin-left: -20px; 
              border: 1px solid theme-color("primary-text-color"); 
              -webkit-border-radius: 50%;
              border-radius: 50%;
              background: transparent; 
              -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
              -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
              transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
            }
            &:after{
              content: "";
              display: inline-block; 
              position: absolute; 
              width: 12px; 
              height: 12px; 
              left: 4px; 
              top: 4px; 
              margin-left: -20px; 
              padding-left: 4px;
              padding-top: 0px; 
              font-size: 11px; 
              background: theme-color("primary-text-color"); 
              -webkit-border-radius: 50%;
              border-radius: 50%;
              -webkit-transform: scale(0);
              transform: scale(0);
            }
            a{
              color: theme-color("primary");
              text-decoration: none;

              &:hover{
                text-decoration: underline;
              }
            }
            h6{
              color: theme-color("primary-text-color");
              font-weight: 700;
              text-align: left;
              margin: 0px 0px 5px 0px;
              font-size: 16px;

              @media (max-width: 767px) {
                font-size: 15px;
              }
            }
            p{
              color: theme-color("primary-text-color");
              font-weight: 400;
              text-align: left;
              margin: 0px;
              font-size: 14px;

              @media (max-width: 767px) {
                font-size: 13px;
              }
            }
          }
          input[type="radio"]{
            opacity: 0;
            position: absolute;
    
            &:focus{
              & + label{
                &:before{outline: thin dotted;
                  outline: 0px auto -webkit-focus-ring-color;
                  outline-offset: 0px;
                }
              }
            }
            &:checked{
              & + label{
                &:after{
                  -webkit-transform: scale(1);
                  transform: scale(1);
                  background: theme-color("primary");
                }
                &:before{
                  border-color: theme-color("primary");
                }
              }
            }
            &:disabled{
              & + label{
                opacity: 0.65;
                &:before{
                  background-color: theme-color("light-gray"); 
                  cursor: not-allowed; 
                }
                &:before{
                  background: transparent; 
                  border-color: theme-color("white");
                }
              }
            }
          }
        }
        .downloadbtn{
          display: inline-block;
          color: theme-color("primary-text-color");
          text-decoration: none;
          font-size: 16px;
          font-weight: 500;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;

          i{
            display: inline-block;
            vertical-align: middle;
            padding-right: 8px;
            font-size: 140%;
            color: theme-color("secondary");
          }
          span{
            display: inline-block;
            vertical-align: middle;
            padding: 2px 0px;
            line-height: 100%;
            border-bottom: 2px solid theme-color("register-border");
          }

          &:hover{
            color: theme-color("secondary");
          }
        }
      }
  
      .owl-carousel{
        .owl-stage{
          display: -webkit-flex; 
          display: -ms-flexbox; 
          display: flex; 
          -webkit-flex-wrap: wrap; 
          -ms-flex-wrap: wrap; 
          flex-wrap: wrap;
        }
        .owl-item{
          display: -webkit-flex; 
          display: -ms-flexbox; 
          display: flex;
  
          &.active{
            & + .active{
              border-left: 1px solid theme-color("register-border");
            }
          }
  
          .item{
            float: left;
            width: 100%;
          }
        }
      }
    }
    .piecharbox{
      float: left;
      width: 100%;
      margin: 0px;
      background: theme-color("step-wizard-bg");
      -webkit-border-radius: 30px;
      border-radius: 30px;
      padding: 30px 20px;
      border: 1px solid theme-color("register-border");
      text-align: center;
  
      h3{
        color: theme-color("primary-text-color");
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        margin: 0px 0px 45px 0px;
      }
      h4{
        color: theme-color("primary-text-color");
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        margin: 0px 0px 0px 0px;
      }
      .piechartbx{
        display: inline-block;
        max-width: 240px;
        margin-bottom: 40px;
  
        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .piechartcaption{
      float: left;
      width: 100%;
      padding-top: 35px;
  
      .piechartbtc{
        float: left;
        width: 100%;
  
        .piebtbg{
          display: table-cell;
          vertical-align: middle;
          padding-right: 10px;
  
          span{
            float: left;
            width: 30px;
            height: 36px;
            background: theme-color("primary");
            border: 1px solid theme-color("primary-dark");
            -webkit-border-radius: 3px;
            border-radius: 3px;
          }
        }
        .piebtcontent{
          display: table-cell;
          vertical-align: middle;
          color: theme-color("primary-text-color");
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
        }
  
        &.correct{
          .piebtbg{
            span{
              background: theme-color("default");
              border: 1px solid theme-color("default-dark");
              -webkit-box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
              box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
            }
          }
        }
        &.incorrect{
          .piebtbg{
            span{
              background: theme-color("secondary");
              border: 1px solid theme-color("secondary-dark");
              -webkit-box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
              box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
            }
          }
        }
        &.unattempted{
          .piebtbg{
            span{
              background: theme-color("primary");
              border: 1px solid theme-color("primary-dark");
              -webkit-box-shadow: 0px 19px 24px 0px rgba(29, 98, 175, 0.42);
              box-shadow: 0px 19px 24px 0px rgba(29, 98, 175, 0.42);
            }
          }
        }
      }
    }
  }