
<div class="row ml-n2 mr-n2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2">
    <div class="reportboxouter">
      <div class="row">
        <div class="col-12">
          <h2>Student Reports For Every Attempted Test</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
          <div class="taketimebxouter">
            <div class="taketimebxtop">
              <div class="taketimeheading">
                <div class="taketimeheadicon">
                  <i class="icon icon-time"></i>
                </div>
                <div class="taketimeheadcontent">Time Taken</div>
              </div>
            </div>
            <div class="taketimebxbtm">
              <div class="taketimectbox">
                <div class="timebxicon">00</div>
                <div class="timetext">Hour</div>
              </div>
              <div class="taketimectbox minute">
                <div class="timebxicon">00</div>
                <div class="timetext">Minute</div>
              </div>
              <div class="taketimectbox second">
                <div class="timebxicon">00</div>
                <div class="timetext">Second</div>
              </div>
            </div>
          </div>
          <div class="taketimetext">Available Time Was 00 Hour<br>29 Minutes 44 Seconds</div>
        </div>
        <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
          <div class="assesmentbox">
            <div class="assesmentboxinner">
              <h3>Assessment Result</h3>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th colspan="3">Overall Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Date</td>
                      <td>08/06/2020</td>
                      <td class="actionbx" rowspan="2">Result<br>Fail</td>
                    </tr>
                    <tr>
                      <td>Score</td>
                      <td>0%</td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr>
                      <th colspan="3">Summary of attempts</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">No of Attempts</td>
                      <td>2</td>
                    </tr>
                    <tr>
                      <td colspan="2">No of Skip</td>
                      <td>0</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th colspan="3">Assessment Result Matrix</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Overall Score (All Objectives)</td>
                      <td>&nbsp;</td>
                      <td>0% (0/2)</td>
                    </tr>
                    <tr>
                      <td>Passing Score</td>
                      <td>******</td>
                      <td>50% (1/2)</td>
                    </tr>
                    <tr>
                      <td>Tech Support</td>
                      <td>&nbsp;</td>
                      <td>0% (0/2)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12 mt-3">
          <div class="reportquestionbx">
            <div id="QuestionCarousel" class="owl-carousel owl-theme">
              <div class="item">
                <div class="repoquestionitem">
                  <h3>Question Number: 1</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. tortorulla commodo consequat blandit?</p>
                  <div class="skipqbtn"><a href="javascript:void(0);">You skipped this question</a></div>
                  <div class="ctanws"><strong>Correct Answer:</strong>Sociosqu ad litora torqu inceptos himenae.</div>
                  <div class="row ml-n2 mr-n2">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question" id="Option-A">
                        <label for="Option-A">
                          <h6>Option A</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" checked name="Question" id="Option-B">
                        <label for="Option-B">
                          <h6>Option B</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question" id="Option-C">
                        <label for="Option-C">
                          <h6>Option C</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question" id="Option-D">
                        <label for="Option-D">
                          <h6>Option D</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="repoquestionitem">
                  <h3>Question Number: 2</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. tortorulla commodo consequat blandit?</p>
                  <div class="skipqbtn"><a href="javascript:void(0);">You skipped this question</a></div>
                  <div class="ctanws"><strong>Correct Answer:</strong>Sociosqu ad litora torqu inceptos himenae.</div>
                  <div class="row ml-n2 mr-n2">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question2" id="Option-A1">
                        <label for="Option-A1">
                          <h6>Option A</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question2" id="Option-B1">
                        <label for="Option-B1">
                          <h6>Option B</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" checked name="Question2" id="Option-C1">
                        <label for="Option-C1">
                          <h6>Option C</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question2" id="Option-D1">
                        <label for="Option-D1">
                          <h6>Option D</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row ml-n2 mr-n2 mt-2">
                    <div class="col-12 pl-2 pr-2 text-right">
                      <a class="downloadbtn" href="javascript:void(0);"><i class="fa fa-file-pdf-o"></i><span>Download Answers</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="repoquestionitem">
                  <h3>Question Number: 3</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. tortorulla commodo consequat blandit?</p>
                  <div class="skipqbtn"><a href="javascript:void(0);">You skipped this question</a></div>
                  <div class="ctanws"><strong>Correct Answer:</strong>Sociosqu ad litora torqu inceptos himenae.</div>
                  <div class="row ml-n2 mr-n2">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question3" id="Option-A2">
                        <label for="Option-A2">
                          <h6>Option A</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question3" id="Option-B2">
                        <label for="Option-B2">
                          <h6>Option B</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" checked name="Question3" id="Option-C2">
                        <label for="Option-C2">
                          <h6>Option C</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question3" id="Option-D2">
                        <label for="Option-D2">
                          <h6>Option D</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="repoquestionitem">
                  <h3>Question Number: 4</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. tortorulla commodo consequat blandit?</p>
                  <div class="skipqbtn"><a href="javascript:void(0);">You skipped this question</a></div>
                  <div class="ctanws"><strong>Correct Answer:</strong>Sociosqu ad litora torqu inceptos himenae.</div>
                  <div class="row ml-n2 mr-n2">
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question4" id="Option-A3">
                        <label for="Option-A3">
                          <h6>Option A</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" checked name="Question4" id="Option-B3">
                        <label for="Option-B3">
                          <h6>Option B</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question4" id="Option-C3">
                        <label for="Option-C3">
                          <h6>Option C</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3">
                      <div class="radio">
                        <input type="radio" name="Question4" id="Option-D3">
                        <label for="Option-D3">
                          <h6>Option D</h6>
                          <p>sociosqu ad litora torquent per conubia nostra inceptos himenaeos. Integer venenatis.</p>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mt-3">
          <div class="piecharbox">
            <h3>Overall Report</h3>
            <div class="piechartbx">
              <img src="assets/imgs/pie-chart.png" alt="" />
            </div>
            <h4>Total Number Of Questions=100</h4>
          </div>
          <div class="piechartcaption">
            <div class="row ml-n2 mr-n2">
              <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12 pl-2 pr-2 mt-2 mb-2">
                <div class="piechartbtc correct">
                  <div class="piebtbg">
                    <span></span>
                  </div>
                  <div class="piebtcontent">Questions Correct</div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12 pl-2 pr-2 mt-2 mb-2">
                <div class="piechartbtc incorrect">
                  <div class="piebtbg">
                    <span></span>
                  </div>
                  <div class="piebtcontent">Questions incorrect</div>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-6 col-sm-6 col-12 pl-2 pr-2 mt-2 mb-2">
                <div class="piechartbtc unattempted">
                  <div class="piebtbg">
                    <span></span>
                  </div>
                  <div class="piebtcontent">Questions Unattempted</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mt-3">
          <div class="assesmentbox">
            <div class="assesmentboxinner">
              <h3>User Information</h3>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Date</th>
                      <th>Name</th>
                      <th colspan="2">Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>08/06/2020  11:30am</td>
                      <td>Abinash Kundu</td>
                      <td>info@abinashkundu.com</td>
                      <td class="actionbx" rowspan="2"><a href="javascript:void(0);">View<br>Details</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="techsupportbox">
                <div class="row ml-0 mr-0">
                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 col-12 pl-0 pr-0">
                    <div class="techtext">
                      <h4>Tech Support</h4>
                      <p>This Section measures expertise for positions of Tech support</p>
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-8 col-md-8 col-sm-12 col-12 pl-0 pr-0">
                    <div class="techindibox">
                      <div class="techrow justify-content-center justify-md-content-end">
                        <div class="techcolumn">
                          <div class="techcbox">
                            <span>
                              <span>Very low</span>
                              <span>16</span>
                            </span>
                          </div>
                        </div>
                        <div class="techcolumn">
                          <div class="techcbox">
                            <span>
                              <span>Low</span>
                              <span>32</span>
                            </span>
                          </div>
                        </div>
                        <div class="techcolumn">
                          <div class="techcbox">
                            <span>
                              <span>Moderate</span>
                              <span>68</span>
                            </span>
                          </div>
                        </div>
                        <div class="techcolumn">
                          <div class="techcbox">
                            <span>
                              <span>High</span>
                              <span>84</span>
                            </span>
                          </div>
                        </div>
                        <div class="techcolumn">
                          <div class="techcbox">
                            <span>
                              <span>Very High</span>
                              <span>100</span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="techvaluebox">
                      <h6>Values shown in above chart are percentages</h6>
                      <div class="indibx verylow">
                        <div class="indibc">
                          <span></span>
                        </div>
                        <div class="indibcontent">Very Low</div>
                      </div>
                      <div class="indibx low">
                        <div class="indibc">
                          <span></span>
                        </div>
                        <div class="indibcontent">Low</div>
                      </div>
                      <div class="indibx moderate">
                        <div class="indibc">
                          <span></span>
                        </div>
                        <div class="indibcontent">Moderate</div>
                      </div>
                      <div class="indibx high">
                        <div class="indibc">
                          <span></span>
                        </div>
                        <div class="indibcontent">High</div>
                      </div>
                      <div class="indibx veryhigh">
                        <div class="indibc">
                          <span></span>
                        </div>
                        <div class="indibcontent">Very High</div>
                      </div>
                    </div>
                    <div class="techvaluebox">
                      <h4>Tech Support : Very Low</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dictum neque a purus malesuada </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td rowspan="2">
                        <h4>Mark Wise Details</h4>
                        <p>Tech Support Marks Scored</p>
                      </td>
                      <td align="center">Subject</td>
                      <td align="center">&nbsp;</td>
                      <td align="">Score</td>
                      <td align="center">Marks</td>
                    </tr>
                    <tr>
                      <td align="center">Tech Support</td>
                      <td align="center">
                        <div class="progress" style="min-width: 100px;">
                          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
                        </div>
                      </td>
                      <td align="center">0/4</td>
                      <td align="center">4</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
