@import '../../../assets/scss/variables';


.examdetailsboxouter{
    float: left;
    width: 100%;
  
    .examdetailsboxtop{
      float: left;
      width: 100%;
      background: theme-color("white");
      padding: 30px 30px;
      color: theme-color("primary-text-color");
      -webkit-border-radius: 5px 5px 0px 0px;
      border-radius: 5px 5px 0px 0px;
      -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
      box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
  
      @media (max-width: 767px) {
        padding: 20px;
      }
  
      .questionnbox{
        float: left;
        width: 100%;
        background: theme-color("step-wizard-bg");
        padding: 25px 20px;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        border: 1px solid theme-color("register-border");
  
        .quesrow{
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          margin-right: -5px;
          margin-left: -5px;
  
          .quescolumn{
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
            text-align: center;
            margin: 5px 0px;
  
            @media (max-width: 991px) {
              -ms-flex: 0 0 33.33333%;
              flex: 0 0 33.33333%;
              max-width: 33.33333%;
            }
            @media (max-width: 767px) {
              -ms-flex: 0 0 20%;
              flex: 0 0 20%;
              max-width: 20%;
            }
            @media (max-width: 400px) {
              -ms-flex: 0 0 25%;
              flex: 0 0 25%;
              max-width: 25%;
            }
  
            .quesbtn{
              display: inline-block;
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 38px;
              padding: 0px;
              text-decoration: none;
              background: theme-color("white");
              border: 1px solid theme-color("register-border");
              -webkit-border-radius: 50%;
              border-radius: 50%;
              color: theme-color("primary-text-color");
              font-size: 14px;
              font-weight: 400;
  
              &.ansbtn{
                background: theme-color("default");
                border: 1px solid theme-color("default-dark");
                color: theme-color("white");
                -webkit-box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
                box-shadow: 0px 19px 24px 0px rgba(140, 198, 64, 0.42);
              }
              &.notansbtn{
                background: theme-color("secondary");
                border: 1px solid theme-color("secondary-dark");
                color: theme-color("white");
                -webkit-box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
                box-shadow: 0px 19px 24px 0px rgba(255, 136, 77, 0.42);
              }
            }
          }
        }
      }
      .questionboxleft{
        float: left;
        width: 100%;
        padding-right: 0px;
  
        @media (max-width: 767px) {
          padding-right: 0px;
        }
        
        .subheading{
          float: left;
          width: 100%;
          margin-bottom: 25px;
  
          @media (max-width: 767px) {
            margin-top: 25px;
          }
          
          .subheadingleft{
            display: table-cell;
            vertical-align: top;
            width: 100%;
            padding-right: 10px;
  
            @media (max-width: 991px) {
              display: block;
              padding-right: 0px;
            }
  
            h5{
              color: theme-color("primary");
              font-size: 22px;
              font-weight: 600;
              margin: 0px 0px 5px 0px;
  
              span{
                color: theme-color("primary-text-color");
              }
            }
            p{
              color: theme-color("primary-text-color");
              font-size: 15px;
              margin: 0px;
  
              span{
                color: theme-color("default");
              }
            }
          }
          .subheadingright{
            display: table-cell;
            vertical-align: middle;
            white-space: nowrap;
  
            @media (max-width: 991px) {
              display: block;
              padding-top: 15px;
            }
  
            .controlbtn{
              display: inline-block;
              padding: 8px 30px;
              color: theme-color("primary");
              border: 2px solid theme-color("primary");
              background: theme-color("primary-light3");
              outline: none;
              font-size: 14px;
              font-weight: 500;
              -webkit-border-radius: 40px;
              border-radius: 40px;
              min-width: 130px;
              white-space: nowrap;
  
              i{
                padding-right: 6px;
                display: inline-block;
                vertical-align: middle;
              }
              @media (max-width: 1201px) {
                font-size: 13px;
                padding: 7px 20px;
                min-width: 0px;
              }
            }
            .timebtn{
              display: inline-block;
              padding: 8px 30px;
              color: theme-color("secondary");
              border: 2px solid theme-color("secondary");
              background: theme-color("secondary-light2");
              outline: none;
              font-size: 14px;
              font-weight: 500;
              -webkit-border-radius: 40px;
              border-radius: 40px;
              min-width: 130px;
              white-space: nowrap;
              margin-left: 5px;
  
              i{
                padding-right: 6px;
                display: inline-block;
                vertical-align: middle;
                font-size: 141%;
                line-height: 21px;
              }
              @media (max-width: 1201px) {
                font-size: 13px;
                padding: 7px 20px;
                min-width: 0px;
              }
            }
          }
        }
        .suquestionbt{
          float: left;
          width: 100%;
          background: theme-color("step-wizard-bg");
          padding: 25px 20px;
          -webkit-border-radius: 30px;
          border-radius: 30px;
          border: 1px solid theme-color("register-border");
  
          .suquestionbtleft{
            display: table-cell;
            vertical-align: top;
            padding-right: 20px;
            width: 100%;
  
            @media (max-width: 991px) {
              display: block;
              padding-right: 0px;
            }
  
            h5{
              color: theme-color("primary");
              font-size: 22px;
              font-weight: 600;
              margin: 0px 0px 15px 0px;
            }
            p{
              color: theme-color("primary-text-color");
              font-size: 15px;
              margin: 0px;
              font-weight: 500;
            }
          }
          .suquestionbtright{
            display: table-cell;
            vertical-align: top;
  
            @media (max-width: 991px) {
              display: block;
              padding-top: 15px;
            }
  
            .skipbtn{
              display: block;
              font-size: 14px;
              text-decoration: underline;
              font-weight: 600;
              color: theme-color("primary-text-color");
              white-space: nowrap;
              -webkit-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out;
  
              &:hover{
                color: theme-color("primary");
              }
            }
          }
        }
        .questionnboxlist{
          float: left;
          width: 100%;
          padding-top: 20px;
  
          .radio{
            padding: 0px 0px; 
            padding-left: 20px; 
            margin-top: 0px; 
            margin-bottom: 0px; 
            display: block; 
            margin-right: 0px;
      
      
            & + .radio{
              margin-top: 0px;
            }
            label{
              display: inline-block; 
              position: relative; 
              padding-left: 13px; 
              color: theme-color("primary-text-color"); 
              min-height: 0px; 
              font-size: 14px; 
              font-weight: 500; 
              line-height: 19px;
              margin: 0;
      
              &:before{
                content: ""; 
                display: inline-block; 
                position: absolute; 
                width: 20px; 
                height: 20px; 
                left: 0; 
                margin-left: -20px; 
                border: 1px solid theme-color("primary-text-color"); 
                -webkit-border-radius: 50%;
                border-radius: 50%;
                background: transparent; 
                -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
              }
              &:after{
                content: "";
                display: inline-block; 
                position: absolute; 
                width: 12px; 
                height: 12px; 
                left: 4px; 
                top: 4px; 
                margin-left: -20px; 
                padding-left: 4px;
                padding-top: 0px; 
                font-size: 11px; 
                background: theme-color("primary-text-color"); 
                -webkit-border-radius: 50%;
                border-radius: 50%;
                -webkit-transform: scale(0);
                transform: scale(0);
              }
              a{
                color: theme-color("primary");
                text-decoration: none;
  
                &:hover{
                  text-decoration: underline;
                }
              }
              h6{
                color: theme-color("primary-text-color");
                font-weight: 700;
                text-align: left;
                margin: 0px 0px 10px 0px;
                font-size: 17px;
              }
              p{
                color: theme-color("primary-text-color");
                font-weight: 400;
                text-align: left;
                margin: 0px;
                font-size: 14px;
              }
            }
            input[type="radio"]{
              opacity: 0;
              position: absolute;
      
              &:focus{
                & + label{
                  &:before{outline: thin dotted;
                    outline: 0px auto -webkit-focus-ring-color;
                    outline-offset: 0px;
                  }
                }
              }
              &:checked{
                & + label{
                  &:after{
                    -webkit-transform: scale(1);
                    transform: scale(1);
                  }
                }
              }
              &:disabled{
                & + label{
                  opacity: 0.65;
                  &:before{
                    background-color: theme-color("light-gray"); 
                    cursor: not-allowed; 
                  }
                  &:before{
                    background: transparent; 
                    border-color: theme-color("white");
                  }
                }
              }
            }
          }
        }
      }
    }
    .examdetailsboxbtm{
      float: left;
      width: 100%;
      background: theme-color("secondary");
      padding: 0px 15px;
      -webkit-border-radius: 0px 0px 5px 5px;
      border-radius: 0px 0px 5px 5px;
      -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
      box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
  
      @media (max-width: 1201px) {
        padding: 15px 15px;
      }
  
      .examborder{
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;

        @media (max-width: 1201px) {
          -ms-flex: 0 0 50%;
          flex: 0 0 50%;
          max-width: 50%; 
        }
        @media (max-width: 480px) {
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          max-width: 100%; 
        }

        & + .examborder{
          border-left: 1px solid theme-color("white");
  
          @media (max-width: 1201px) {
            border-left: none;
          }
        }
        .exambtngroup{
          display: block;
          padding: 40px 0px;
          text-align: center;
  
          @media (max-width: 1201px) {
            padding: 0px 0px 5px 0px;
          }
  
          .exambtn{
            display: inline-block;
            text-align: center;
            padding: 8px 5px;
            background: theme-color("secondary-light3");
            color: theme-color("white");
            border: 1px solid theme-color("white");
            font-size: 12px;
            min-width: 105px;
            font-weight: 500;
            margin: 5px 0px;
            -webkit-border-radius: 40px;
            border-radius: 40px;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
  
            @media (max-width: 1201px) {
              font-size: 14px;
              padding: 8px 15px;
              width: 100%;
            }
  
            i{
              display: inline-block;
              vertical-align: middle;
              padding: 0px 3px;
            }
            span{
              display: inline-block;
              vertical-align: middle;
              padding: 0px 3px;
            }
  
            &:not([disabled]):hover{
              background: theme-color("white");
              color: theme-color("primary-text-color");
            }
  
            &[disabled]:hover{
              cursor: not-allowed;
            }
          }


        }
      }
    }
  }