
<div class="row ml-n2 mr-n2">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2">
    <div class="examdetailsboxouter">
      <div class="examdetailsboxtop">
        <div class="row ml-n2 mr-n2">
          <div class="col-xl-4 col-lg-4 col-md-5 col-sm-12 col-12 pl-2 pr-2 order-md-12">
            <div class="questionnbox">
              <div class="quesrow">
                <div class="quescolumn"  *ngFor="let data of questionAnswerListing; let i=index">
                  <button [class]="'quesbtn' + (data.answer_status == 1 ? ' ansbtn' : data.answer_status == 2 ? ' mark-review' : ' notansbtn') + (i == currentQuestionIndex ? ' current-question' : '')" type="button" (click)="currentQuestionIndex = i">{{i+1}}</button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8 col-md-7 col-sm-12 col-12 pl-2 pr-2">
            <div class="questionboxleft">
              <div class="subheading">
                <div class="subheadingleft">
                  <h5>Test name:</h5>
                  <p>{{pageData.paper_name}}</p>
                </div>
                <div class="subheadingright">
                  <button class="controlbtn" type="button" (click)="pauseClicked()"><i class="icon icon-pause"></i>{{!isExamPaused ? 'Pause' : 'Resume'}}</button>
                  <button class="timebtn" type="button"><i class="icon icon-clock"></i>{{timerHrs}}:{{timerMins}}:{{timerSecs}}</button>
                </div>
              </div>
              <div class="suquestionbt">
                <div class="suquestionbtleft">
                  <h5>Question {{currentQuestionIndex+1}}</h5>
                  <p [innerHtml]="questionAnswerListing[currentQuestionIndex]?.question_title"></p>
                </div>
                <div class="suquestionbtright">
                  <a class="skipbtn" href="javascript:void(0);" (click)="nextQuestionClicked()" *ngIf="currentQuestionIndex < questionAnswerListing.length - 1">Skip Question</a>
                </div>
              </div>
              <div class="questionnboxlist">
                <div class="row ml-n2 mr-n2">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12 pl-2 pr-2 mt-3 mb-3" *ngFor="let data of questionAnswerListing[currentQuestionIndex]?.question_details; let i=index;">
                    <div class="radio">
                      <input type="radio" name="Question" [id]="'Option-' + optionString[i]" [checked]="data.check_status" (change)="answerChecked(data)"/>
                      <label [for]="'Option-' + optionString[i]">
                        <h6>Option {{optionString[i]}}</h6>
                        <p [innerHtml]="data.option_text"></p>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="examdetailsboxbtm">
        <div class="row ml-n2 mr-n2">
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 text-center examborder pl-2 pr-2">
            <div class="exambtngroup">
              <button class="exambtn" [disabled]="currentQuestionIndex == 0" (click)="prevQuestionClicked()"><i class="icon icon-arrow-thin-left"></i><span>Previous Questions</span></button>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 text-center examborder pl-2 pr-2">
            <div class="exambtngroup">
              <button class="exambtn" type="reset" id="reset" value="Clear Option" (click)="clearOptionClicked()"><span>Clear Option</span></button>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 text-center examborder pl-2 pr-2">
            <div class="exambtngroup">
              <button class="exambtn" (click)="markForReviewClicked()"><span>{{questionAnswerListing[currentQuestionIndex]?.answer_status != 2 ? 'Mark For Review' : 'Unmark Review'}}</span></button>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 text-center examborder pl-2 pr-2">
            <div class="exambtngroup">
              <button class="exambtn" [disabled]="currentQuestionIndex >= questionAnswerListing.length - 1" (click)="nextQuestionClicked()" ><span>Next Questions</span><i class="icon icon-arrow-thin-right"></i></button>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12 text-center examborder pl-2 pr-2">
            <div class="exambtngroup">
              <button class="exambtn"(click)="answerSubmitClicked()"><span>Finish</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <mat-list-item *ngIf="item.childcat.length==0" (click)="clicktrcataining(item._id,item.catagory_name)" 
          [ngClass]="paramsTrainingId ==  item._id ? 'classongoing':
          ( item.percentage >=100 ? 'classdone' : 'classnotdone')"> -->