<div class="afterloginrightcontent">
  <div class="afterloginrightcontentinner">
    <div class="afterloginrightbt">
      <div class="afterloginrightbtinner">
        <h3>Purchase History</h3>
        <div class="row">
          <div class="col-sm-4">
            <div class="input-group mb-3">
              <input type="text" class="form-control" [(ngModel)]="searchText" (keypress)="onSearchTextKeypress($event)" placeholder="Search By Keywords" aria-label="Search By Keywords" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)="currentPageNumber = 1; purchasehistorypageData()"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
      
          <div class="col-sm-8">
            <app-ngx-msd-pagination
              *ngIf="pageData"
              [totalNumberOfData]="totalData"
              [dataPerPage]="dataPerPage"
              [currentPageNumber]="currentPageNumber"
              (pageNumberChanged)="paginationNumberChanged($event)"
              class="float-right"
            >
            </app-ngx-msd-pagination>
          </div>
        </div>
        
        <!-- <tabset [justified]="true">
          <tab heading="On Going">
            <app-on-going></app-on-going>
          </tab>
          <tab heading="Completed">
            <app-completed></app-completed>
          </tab>
        </tabset> -->
        <!-- <div class="filtersearchbox">
          <div class="form-group">
            <label><i class="ico ico-search"></i>Search By Keywords</label>
            <div class="inputgroup">
              <input type="text" class="form-control" [(ngModel)]="searchText" (keypress)="onSearchTextKeypress($event)" placeholder="Type your keywords..." name="">
            </div>
          </div>
          <a href="javascript:void(0);" class="viewmorebtn" (click)="currentPageNumber = 1; getCategoryData()">Apply Search</a>
        </div> -->
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Invoice Id</th>
              <th scope="col">Papers</th>
              <th scope="col">Bank Transaction Id</th>
              <th scope="col">Total Price</th>
              <th scope="col">Purchase On</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of pageData; let i=index">
              <th scope="row">{{i+1}}</th>
              <td>{{data.puchase_id}}</td>
              <td class="text-center"> {{data.paper_list.length}} <i class="fa fa-eye"  [tooltip]="getTooltipText(data.paper_list)"></i></td>
              <td>{{data.bank_transaction_id}}</td>
              <td>{{data.total_price}}</td>
              <td>{{data.created_at}}</td>
            </tr>
          </tbody>
        </table>
        <app-ngx-msd-pagination
          *ngIf="pageData"
          [totalNumberOfData]="totalData"
          [dataPerPage]="dataPerPage"
          [currentPageNumber]="currentPageNumber"
          (pageNumberChanged)="paginationNumberChanged($event)"
          >
	    </app-ngx-msd-pagination>
      </div>
    </div>
  </div>
</div>
<!-- {{pageData.purchase_paper_details.purchase_id}}{{blank}}{{pageData.purchase_paper_details.purchase_name}} -->