@import '../../../assets/scss/variables';

.afterloginrightcontent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .afterloginrightcontentinner{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: theme-color("white");
    padding: 50px 40px;
    color: theme-color("primary-text-color");
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
    box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);

    @media (max-width: 767px){
      padding: 20px;
    }

    .afterloginrightbt{
      float: left;
      width: 100%;
      padding: 10px;
      background: theme-color("step-wizard-bg");
      border: 1px solid theme-color("register-border");
      -webkit-border-radius: 30px;
      border-radius: 30px;

      @media (max-width: 575px) {
        padding: 0px;
        background: transparent;
        border: none;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
      .afterloginrightbtinner{
        float: left;
        width: 100%;
        text-align: left;
        padding: 40px 40px;
        background: theme-color("white");
        border: 1px solid theme-color("register-border");
        -webkit-border-radius: 30px;
        border-radius: 30px;

        @media (max-width: 767px) {
          padding: 0px;
          border: none;
        }

        h3{
          color: theme-color("primary-text-color");
          font-size: 26px;
          font-weight: 500;
          margin: 0px 0px 10px 0px;

          @media (max-width: 767px) {
            font-size: 22px;
          }
        }
        
        p{
          color: theme-color("primary-text-color");
          font-size: 16px;
          font-weight: 400;
          margin: 0px 0px 35px 0px;

          @media (max-width: 767px) {
            font-size: 14px;
          }
        }
        .form-group{
          position: relative;
          margin: 0px 0px 35px 0px;

          .inputgroup{
            position: relative;
            margin: 0px;

            .inputlabel{
              position: absolute;
              left: 40px;
              top: -13px;
              color: theme-color("secondary");
              background: theme-color("white");
              padding: 2px 10px;
              font-size: 15px;

              @media (max-width: 575px) {
                font-size: 14px;
                left: 20px;
              }
            }
            .form-control{
              border: 1px solid theme-color("secondary");
              height: 56px;
              background: transparent;
              color: theme-color("primary-text-color");
              font-size: 16px;
              font-weight: 500;
              padding: 6px 20px 6px 50px;
              -webkit-border-radius: 30px;
              border-radius: 30px;

              &:focus{
                -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
                box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
              }

              &::-moz-placeholder{color: theme-color("primary-text-color");opacity:1}
              &:-ms-input-placeholder{color: theme-color("primary-text-color");}
              &::-webkit-input-placeholder{color:theme-color("primary-text-color");}
              &::-ms-expand{background-color:transparent;border:0}
              &::-ms-expand{display: none;}

              @media (max-width: 575px) {
                font-size: 14px;
                padding: 4px 10px 4px 30px;
                height: 44px;
              }
            }
          }
        }
        .btn-default{
          background: theme-color("default");
          border: 1px solid theme-color("default-dark");
          color: theme-color("white");
          width: 100%;
          height: 56px;
          max-width: 340px;
          padding: 0px;
          text-align: center;
          line-height: 56px;
          -webkit-border-radius: 30px;
          border-radius: 30px;
          font-size: 16px;
          font-weight: 500;
          margin-top: -10px;
          -webkit-box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);
          box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);

          @media (max-width: 575px) {
            font-size: 14px;
            height: 44px;
            line-height: 44px;
          }
        }
      }
    }
  }
}