<div class="afterloginrightcontent">
  <!-- <a href="javascript:void(0);" class="ProfileBtn"><i class="icon icon-user"></i></a> -->
  <div class="afterloginrightcontentinner">
    <div class="afterloginrightbt">
      <div class="afterloginrightbtinner">
        <h3>Security Settings</h3>
        <small class="d-block mb-3 mt-5">(Password must be of minimum 8 characters length and contains atleast 1 number, 1 alphabet and 1 special character.)</small>
        <form [formGroup]="changePasswordFormGroup" (ngSubmit)="changePasswordFormSubmit()">
          <div class="form-group">
            <div class="inputgroup">
              <span class="inputlabel">Old Password</span>
              <input type="password" class="form-control" placeholder="Enter Your Old Password" formControlName="oldPassword" />
            </div>
          </div>
          <div class="form-group">
            <div class="inputgroup">
              <span class="inputlabel">New Password</span>
              <input type="password" class="form-control"  placeholder="Enter Your New Password" formControlName="newPassword" />
            </div>
          </div>
          <div class="form-group">
            <div class="inputgroup">
              <span class="inputlabel">Confirm New Password</span>
              <input type="password" class="form-control" placeholder="Re Enter Your New Password" formControlName="confirmPassword" />
            </div>
          </div>
          <div class="text-left">
            <button class="btn btn-default circleeffect" type="submit" (click)="changePasswordFromValidation($event)">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>