@import '../../assets/scss/variables';

.forgotcontainer{
  padding: 0px;
  background-color: theme-color("step-wizard-bg");
  background-image: url(../../assets/imgs/step3bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .forgotctouter{
    min-height: calc(100vh - 134px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;

    .forgotctinner{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 0;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 0;
      min-width: 0;
      max-width: 100%;

      .forgotctbtouter{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .forgotctbtinner{
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-shadow: 1px 44px 54px 0px rgba(151, 192, 200, 0.24);
          box-shadow: 1px 44px 54px 0px rgba(151, 192, 200, 0.24);
          padding: 50px 0px;

          @media (max-width: 991px){
            padding: 40px 0px;
          }
          @media (max-width: 575px){
            padding: 20px 0px;
          }
          .forgotboxouter{
            float: left;
            width: 100%;
            height: 100%;
            background: transparent;
            padding: 0px;
            color: theme-color("primary-text-color");
        
            @media (max-width: 767px) {
              padding: 0px;
            }
            @media (max-width: 575px) {
              padding: 0px;
              background: transparent;
              -webkit-box-shadow: none;
              box-shadow: none;
            }
            .forgotbox{
              float: left;
              width: 100%;
              padding: 10px;
              background: theme-color("step-wizard-bg");
              border: 1px solid theme-color("register-border");
              -webkit-border-radius: 30px;
              border-radius: 30px;

              @media (max-width: 575px) {
                padding: 0px;
                background: transparent;
                border: none;
                -webkit-border-radius: 0px;
                border-radius: 0px;
              }
        
              .forgotboxinner{
                float: left;
                width: 100%;
                text-align: center;
                padding: 60px 60px;
                background: theme-color("white");
                border: 1px solid theme-color("register-border");
                -webkit-border-radius: 30px;
                border-radius: 30px;

                @media (max-width: 767px) {
                  padding: 30px;
                }

                h3{
                  color: theme-color("primary-text-color");
                  font-size: 26px;
                  font-weight: 500;
                  margin: 0px 0px 10px 0px;
                }
                p{
                  color: theme-color("primary-text-color");
                  font-size: 16px;
                  font-weight: 400;
                  margin: 0px 0px 35px 0px;
                }
                .form-group{
                  position: relative;
                  margin: 0px 0px 35px 0px;

                  .inputgroup{
                    position: relative;
                    margin: 0px;

                    .inputlabel{
                      position: absolute;
                      left: 40px;
                      top: -13px;
                      color: theme-color("secondary");
                      background: theme-color("white");
                      padding: 2px 10px;
                      font-size: 15px;

                      @media (max-width: 575px) {
                        font-size: 14px;
                        left: 20px;
                      }
                    }
                    .form-control{
                      border: 1px solid theme-color("secondary");
                      height: 56px;
                      background: transparent;
                      color: theme-color("primary-text-color");
                      font-size: 16px;
                      font-weight: 500;
                      padding: 6px 20px 6px 50px;
                      -webkit-border-radius: 30px;
                      border-radius: 30px;

                      &:focus{
                        -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
                        box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
                      }

                      &::-moz-placeholder{color: theme-color("primary-text-color");opacity:1}
                      &:-ms-input-placeholder{color: theme-color("primary-text-color");}
                      &::-webkit-input-placeholder{color:theme-color("primary-text-color");}
                      &::-ms-expand{background-color:transparent;border:0}
                      &::-ms-expand{display: none;}

                      @media (max-width: 575px) {
                        font-size: 14px;
                        padding: 4px 10px 4px 30px;
                        height: 44px;
                      }
                    }
                  }
                }
                .btn-default{
                  background: theme-color("default");
                  border: 1px solid theme-color("default-dark");
                  color: theme-color("white");
                  width: 100%;
                  height: 56px;
                  max-width: 340px;
                  padding: 0px;
                  text-align: center;
                  line-height: 56px;
                  -webkit-border-radius: 30px;
                  border-radius: 30px;
                  font-size: 16px;
                  font-weight: 500;
                  margin-top: -10px;
                  -webkit-box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);
                  box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);

                  @media (max-width: 575px) {
                    font-size: 14px;
                    height: 44px;
                    line-height: 44px;
                  }
                }
                .forgotpassword{
                  display: block;
                  text-align: center;
                  margin-top: 35px;

                  a{
                    display: inline-block;
                    color: theme-color("default");
                    font-size: 15px;
                    font-weight: 500;
                    text-decoration: none;
                    -webkit-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}