<section class="forgotcontainer">
  <div class="forgotctouter">
    <div class="forgotctinner">
      <div class="forgotctbtouter">
        <div class="forgotctbtinner">
          <div class="container">
            <div class="row ml-n2 mr-n2 justify-content-center">
              <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 pl-2 pr-2">
                <div class="forgotboxouter">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4 mt-lg-0">
                      <div class="forgotbox">
                        <div class="forgotboxinner">
                          <h3>Reset Password</h3>
                          <form [formGroup]="resetForm" (ngSubmit)="resetClicked()">
                            <div class="form-group">
                              <div class="inputgroup">
                                <span class="inputlabel">Password</span>
                                <input type="password" class="form-control" value="" placeholder="Enter Your Password" formControlName="password" />
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="inputgroup">
                                <span class="inputlabel">Confirm Password</span>
                                <input type="password" class="form-control" value="" placeholder="Confirm Password" formControlName="confirmPassword" />
                              </div>
                            </div>
                            <div class="text-left">
                              <button class="btn btn-default circleeffect" type="submit">Save Changes</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>