<div class="afterloginrightcontent">
  <!-- <a href="javascript:void(0);" class="ProfileBtn"><i class="icon icon-user"></i></a> -->
  <div class="afterloginrightcontentinner">
    <div class="afterloginrightbt">
      <div class="afterloginrightbtinner">
        <h3>My Profile</h3>
        <form [formGroup]="profileForm" (ngSubmit)="profileFormSubmit()">
          <div class="form-group mt-5">
            <div class="inputgroup">
              <span class="inputlabel">Title</span>
              <select class="form-control" formControlName="userTitle">
                <option *ngFor="let data of pageData.user_titles_listing" [value]="data.user_title_id">
                  {{data.user_title_name}}
                </option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="inputgroup">
              <span class="inputlabel">Your Name</span>
              <input type="text" class="form-control" value="Abinash Kundu" placeholder="Enter Your Name" formControlName="userFullName" />
            </div>
          </div>
          <div class="form-group">
            <div class="inputgroup">
              <span class="inputlabel">Your Email</span>
              <input type="text" class="form-control" value="info@abinashkundu.com" placeholder="Enter Your Email" formControlName="userEmail" readonly />
            </div>
          </div>
          <div class="form-group">
            <div class="inputgroup">
              <span class="inputlabel">Contact Number</span>
              <input type="text" class="form-control" value="Abinash Kundu" placeholder="Enter Your Contact Number" formControlName="phoneNumber" />
            </div>
          </div>
          <div class="text-left">
            <button class="btn btn-default circleeffect" type="submit">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>