@import '../../../assets/scss/variables';

.stepbxheading{
    display: block;
    text-align: left;
  
    .stepbxleft{
      display: table-cell;
      vertical-align: top;
      width: 100%;
    }
    .stepbxright{
      display: table-cell;
      vertical-align: top;
  
      .backstepbtn{
        display: block;
        color: theme-color("primary");
        font-size: 16px;
        font-weight: 500;
        white-space: nowrap;
        text-decoration: none;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
  
        span{
          @media (max-width: 767px) {
            display: none;
          }
        }
  
        i{
          display: inline-block;
          vertical-align: middle;
          padding-right: 10px;
        }
        &:hover{
          color: theme-color("default");
        }
      }
    }
  }
  .examboxouter{
    float: left;
    width: 100%;
    background: theme-color("white");
    padding: 20px 20px;
    color: theme-color("primary-text-color");
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 1px 0px rgba(144, 164, 196, 0.27);
    box-shadow: 4px 5px 1px 0px rgba(144, 164, 196, 0.27);
  
    .subbox{
      float: left;
      width: 100%;
  
      @media (max-width: 1201px) {
        text-align: center;
        margin-bottom: 10px;
      }
  
      .subjectheading{
        float: left;
        width: 100%;
        text-align: left;
        padding: 14px 20px;
        background: theme-color("primary");
        color: theme-color("white");
        font-size: 14px;
        font-weight: 500;
        margin: 5px 0px;
        -webkit-border-radius: 40px 0px 0px 40px;
        border-radius: 40px 0px 0px 40px;
  
        & + .subjectheading{
          background: theme-color("default");
        }
        @media (max-width: 1201px) {
          float: none;
          width: auto;
          padding: 10px 20px;
          display: inline-block;
          -webkit-border-radius: 40px;
          border-radius: 40px;
        }
        @media (max-width: 991px){
          font-size: 13px;
          padding: 8px 15px;
        }
  
      }
    }
    .examboxinner{
      float: left;
      width: 100%;
      background: theme-color("step-wizard-bg");
      padding: 30px 15px;
      -webkit-border-radius: 30px;
      border-radius: 30px;
  
      .subjectgroup{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0px -1px;
  
        .subjecttextbox{
          -ms-flex: 0 0 40%;
          flex: 0 0 40%;
          max-width: 40%;
          padding: 0px 1px;
  
          .textbox{
            display: block;
            background: theme-color("white");
            border: 1px solid theme-color("register-border");
            color: theme-color("primary-text-color");
            font-size: 14px;
            font-weight: 500;
            height: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            align-items: center;
            padding: 10px 15px;
            -webkit-border-radius: 30px 0px 0px 30px;
            border-radius: 30px 0px 0px 30px;
  
            @media (max-width: 575px) {
              font-size: 13px;
            }
          }
          & + .subjecttextbox{
            -ms-flex: 0 0 60%;
            flex: 0 0 60%;
            max-width: 60%;
  
            .textbox{
              -webkit-border-radius: 0px 30px 30px 0px;
              border-radius: 0px 30px 30px 0px;
              font-weight: 400;
            }
          }
        }
      }
      .attemptbtn{
        display: inline-block;
        text-align: center;
        padding: 12px 30px;
        background: theme-color("secondary");
        color: theme-color("white");
        font-size: 14px;
        font-weight: 500;
        border: none;
        outline: none;
        -webkit-border-radius: 30px;
        border-radius: 30px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
  
        &:hover{
          background: theme-color("default");
        }
      }
    }
    .pheading{
      display: block;
      color: theme-color("primary");
      font-size: 18px;
      font-weight: 500;
      margin: 0px 0px 10px 0px;
    }
    .tablecorner{
      position: relative;
      margin: 0px 0px 20px 0px;
  
      &:before{
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 6px;
        height: 6px;
        border: 1px solid theme-color("table-border");
        border-right: none;
        border-bottom: none;
        border-top-left-radius: 6px;
      }
      &:after{
        content: "";
        position: absolute;
        right: 0px;
        top: 0px;
        width: 6px;
        height: 6px;
        border: 1px solid theme-color("table-border");
        border-left: none;
        border-bottom: none;
        border-top-right-radius: 6px;
      }
  
      .tablecornerinner{
        position: relative;
  
        &:before{
          content: "";
          position: absolute;
          left: 0px;
          bottom: 0px;
          width: 6px;
          height: 6px;
          border: 1px solid theme-color("table-border");
          border-right: none;
          border-top: none;
          border-bottom-left-radius: 6px;
        }
        &:after{
          content: "";
          position: absolute;
          right: 0px;
          bottom: 0px;
          width: 6px;
          height: 6px;
          border: 1px solid theme-color("table-border");
          border-left: none;
          border-top: none;
          border-bottom-right-radius: 6px;
        }
      }
  
      .table-responsive{
        margin: 0px;
      }
    }
    table{
      border-color: theme-color("table-border");
      -webkit-border-radius: 6px;
      border-radius: 6px;
      overflow: hidden;
      margin: 0px;
      thead{
        tr{
          th{
            color: theme-color("primary-text-color");
            border-color: theme-color("table-border");
            border-bottom-width: 1px;
            font-weight: 500;
            font-size: 15px;
            vertical-align: middle;
  
            &.tabone{
              width: 23%;
            }
            &.tabtwo{
              width: 55%;
            }
            &.tabthree{
              width: 22%;
            }
            &:last-child{
              text-align: center;
            }
          }
        }
      }
      tbody{
        tr{
          td{
            color: theme-color("table-color");
            border-color: theme-color("table-border");
            font-size: 14px;
            font-weight: 400;
            vertical-align: top;
  
            strong{
              color: theme-color("primary");
              font-weight: 500;
            }
  
            &:last-child{
              text-align: center;
            }
            &.tab50{
              width: 50%;
            }
          }
        }
      }
    }
    .btnattempt{
      width: 100%;
      padding: 12px 15px;
      text-align: center;
      color: theme-color("white");
      background: theme-color("secondary");
      font-size: 18px;
      font-weight: 500;
      border: none;
      outline: none;
      -webkit-border-radius: 6px;
      border-radius: 6px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
  
      &:hover{
        background: theme-color("primary");
      }
    }
  }
  