<section class="stepcontainer step3container">
  <div class="stepctouter">
    <div class="stepctinner">
      <div class="stepctbtouter">
        <div class="stepctbtinner">
          <div class="container">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                <div class="stepbxheading">
                  <div class="stepbxleft">
                    <div class="siteheading">
                      <h2><span>Exam Details</span></h2>
                    </div>
                  </div>
                  <!-- <div class="stepbxright">
                    <a href="javascript:void(0);" class="backstepbtn"><i class="icon icon-arrow-thin-left"></i><span>Back to Exam List</span></a>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="row ml-n2 mr-n2">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2">
                <div class="examboxouter">
                  <div class="row ml-0 mr-0">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 col-12 pl-0 pr-0">
                      <div class="pheading">{{paper_data.paper_name}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
                      <div class="tablecorner" *ngFor="let data of pageData.paper_details">
                        <div class="tablecornerinner">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <thead>
                                <tr>
                                  <th class="tabone">Subject</th>
                                  <th class="tabtwo">Topic</th>
                                  <th class="tabthree">No. Of Questions</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{data.subject_name}}</td>
                                  <td>
                                    <ng-container *ngFor="let topicData of data.topic_data">
                                      {{topicData.topic_name}}
                                      <ng-container *ngIf="topicData.sub_topic_data.length > 0"> - </ng-container>
                                      <ng-container *ngFor="let subtopicData of topicData.sub_topic_data; let i = index">
                                        {{subtopicData.sub_topic_name}}
                                        <ng-container *ngIf="i < topicData.sub_topic_data.length - 1">,&nbsp;</ng-container></ng-container>
                                    </ng-container>
                                  </td>
                                  <td>{{data.total_questions}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                      <div class="tablecorner">
                        <div class="tablecornerinner">
                          <div class="table-responsive">
                            <table class="table table-bordered">
                              <tbody>
                                <tr>
                                  <td class="tab50"><strong>Duration :</strong></td>
                                  <td class="tab50 text-left">{{paper_data.duration}}</td>
                                </tr>
                                <tr>
                                  <td class="tab50"><strong>Total Mark :</strong></td>
                                  <td class="tab50 text-left">{{paper_data.total_marks}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <button class="btnattempt" type="button" (click)="getAttemptdata()">Attempt Now</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>