<section class="stepcontainer">
  <div class="stepctouter">
    <div class="stepctinner">
      <div class="stepctbtouter">
        <div class="stepctbtinner">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12 col-12">
                <div class="siteheading">
                  <h2><span>Our Exam Packages</span></h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet molestie purus pellentesque semper. Curabitur quis mollis ex. Donec venenatis,</p>
                  <div class="headingradio">
                    <div class="radio">
                      <input type="radio" id="selectallpurchage" name="" [checked]="selectAllPaperRadioBtn" (click)="selectAllRadioBtnClicked()" />
                      <label for="selectallpurchage">Select all to purchase the total package at <del>&#8377; {{allPackagesTotalPrice | number}}</del> <span>&#8377; {{allPackagesDiscountPrice | number}}</span></label>
                    </div>
                  </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <form> -->
                <div class="col-xl-8 col-lg-10 col-md-12 col-12">
                  <div class="row ml-n1 mr-n1">
                    <div class="col-xl-3 col-md-3 col-sm-3 col-sm-4 col-6 csexcolumn pl-1 pr-1 mt-2" *ngFor="let data of papersListing; let i = index">
                      <div class="csexambox">
                        <input type="checkbox" [id]="'Paper' + (i + 1)" [checked]="data.paper_checked" (click)="paperCheckBoxClicked(data)" />
                        <label [for]="'Paper' + (i + 1)" class="csexamboxinner">
                          <div class="cseboxinner">
                            <div class="papertext">{{data.paper_name}}</div>
                            <div class="paperprice">&#8377; {{data.paper_price | number}}</div>
                            <div class="clicktextbox">
                              <div class="clicktextleft">Click here to see topics covered in this test</div>
                              <div class="clickicon">
                                <a href="javascript:void(0);" data-toggle="modal" data-target="#ExamModalDetais" class="viewbtn" (click)="detailsPopupClicked(data)"><i class="fa fa-eye"></i></a>
                              </div>
                            </div>
                          </div>
                        </label>
                      </div>
                    </div>
                    <!-- <div class="col-xl-3 col-md-3 col-sm-3 col-sm-4 col-6 csexcolumn pl-1 pr-1 mt-2">
                      <div class="csexambox">
                        <input type="checkbox" id="Paper2" />
                        <label for="Paper2" class="csexamboxinner">
                          <div class="cseboxinner">
                            <div class="papertext">Paper 02</div>
                            <div class="paperprice">&#8377; 3000.00</div>
                            <div class="clicktextbox">
                              <div class="clicktextleft">Click here to see topics covered in this test</div>
                              <div class="clickicon">
                                <a href="javascript:void(0);" class="viewbtn"><i class="fa fa-eye"></i></a>
                              </div>
                            </div>
                          </div>
                        </label>
                      </div>
                    </div> -->
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="cartbtngroup">
                        <button class="btn btn-default circleeffect" type="button" [disabled]="paperSelected < 1" (click)="onSubmit()"><i class="fa fa-shopping-cart"></i>Purchase</button>
                        <div class="select-item-text">{{paperSelected}} Item{{paperSelected > 1 ? 's' : ''}} Selected</div>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- View Modal Start -->
<div class="modal fade viewdetailsmodal" id="ExamModalDetais" tabindex="-1" role="dialog" aria-labelledby="ExamModalDetaisLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="modaltop">
          <div class="modalprice">
            <span class="modalptext">&#8377; {{popupData.paper_price | number}}</span>
          </div>
          <div class="modalheading">{{popupData.paper_name}}</div>
          <div class="modalclose">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <i class="icon icon-clearclose"></i>
            </button>
          </div>
        </div>
        <div class="modalinner">
          <div class="tablecorner">
            <div class="tablecornerinner">
              <div class="table-responsive">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="tabone">Subject</th>
                      <th class="tabtwo">Topic</th>
                      <th class="tabthree">No. Of Questions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of popupData.paper_details">
                      <td>{{data.subject_name}}</td>
                      <td>
                        <ng-container *ngFor="let topicData of data.topic_data">
                          {{topicData.topic_name}}
                          <ng-container *ngIf="topicData.sub_topic_data.length > 0"> - </ng-container>
                          <ng-container *ngFor="let subtopicData of topicData.sub_topic_data; let i = index">
                            {{subtopicData.sub_topic_name}}
                            <ng-container *ngIf="i < topicData.sub_topic_data.length - 1">,&nbsp;</ng-container></ng-container>
                        </ng-container>
                      </td>
                      <td>{{data.total_questions}}</td>
                    </tr>
                    <!-- <tr>
                      <td>Indian History</td>
                      <td>Ancient and Medieval Period - Major Dynasties, Their Administrative System. Socio-Economic Conditions, Prominent Movements</td>
                      <td>22</td>
                    </tr>
                    <tr>
                      <td>Reasoning & Mental Ability</td>
                      <td>Logical Reasoning (Deductive, Inductive, Abductive) - Statement and Assumptions, Statement and Argument, Statements and Conclusion, Courses of Action Analytical Reasoning</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td>Current Affairs</td>
                      <td>Major Current Events and Issues of State (Rajasthan), National and International Importance Persons and Places in recent news Games and Sports related Activities</td>
                      <td>05</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- View Modal End -->