@import '../../assets/scss/variables';

.thankyoubox{
  float: left;
  width: 100%;
  background: theme-color("white");
  overflow: hidden;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.18);

  .thankyouheader{
    padding: 40px 20px;
    text-align: center;
    background: theme-color("default");
    float: left;
    width: 100%;
    
    i{
      width: 80px;
      height: 80px;
      background: theme-color("white");
      -webkit-box-shadow: 4px 5px 0px #6b9732;
      box-shadow: 4px 5px 0px #6b9732;
      font-size: 3.2em;
      color: theme-color("default");
      display: inline-block;
      line-height: 80px;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
  .thankyoubody{
    float: left;
    width: 100%;
    text-align: center;
    padding: 50px 30px;

    h2{
      color: theme-color("default");
      font-size: 26px;
      font-weight: 600;
      letter-spacing: 2px;
      margin: 0px 0px 10px 0px;
    }
    p{
      line-height: 24px;
      font-size: 14px;
      margin: 0px 0px 20px 0px;
    }
  }
  .btn-secondary{
    background: theme-color("secondary");
    border: 1px solid theme-color("secondary-dark");
    display: inline-block;
    padding: 0px 40px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    margin-top: -10px;
    -webkit-box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);
    box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);

    @media (max-width: 575px) {
      font-size: 14px;
      height: 44px;
      line-height: 44px;
    }
  }
}
     
.thankyouboxerror{
  .thankyouheader{
    background: theme-color("red");
    i{
      color: theme-color("red");
      -webkit-box-shadow: 4px 5px 0px #973232;
      box-shadow: 4px 5px 0px #973232;
      
    }
  }
  .thankyoubody{
    h2{
      color: theme-color("red");
    }
  }
}
