<div class="msd-image-cropper-container" #msdCropper>
  <img [src]="imageSrc == null ? '' : imageSrc" alt="" class="cropping-img" class="cropper-hidden" #croppingImg>

  <img src="assets/img/loader.svg" class="msd-image-cropper-loader cropper-display-none" alt="">
</div>