.msd-image-cropper-container {
  width: 100%;
  border: 1px solid rgba(0,0,0,0.3);
  position: relative;
  overflow: hidden;

  .cropper-hidden {
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }

  .cropper-display-none {
    display: none;
  }

  .jcrop-holder {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .jcrop-keymgr {
    display: none !important;
  }

  .msd-image-cropper-loader {
    position: absolute !important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}