@import '../../assets/scss/variables';

.logincontainer{
  padding: 0px;
  background-color: theme-color("step-wizard-bg");
  background-image: url(../../assets/imgs/step3bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: cover;
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  .loginctouter{
    min-height: calc(100vh - 134px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;

    .loginctinner{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 0;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 0;
      min-width: 0;
      max-width: 100%;

      .loginctbtouter{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .loginctbtinner{
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-shadow: 1px 44px 54px 0px rgba(151, 192, 200, 0.24);
          box-shadow: 1px 44px 54px 0px rgba(151, 192, 200, 0.24);
          padding: 50px 0px;

          @media (max-width: 991px){
            padding: 40px 0px;
          }
          @media (max-width: 575px){
            padding: 20px 0px;
          }
          .loginboxouter{
            float: left;
            width: 100%;
            height: 100%;
            background: theme-color("white");
            padding: 50px 40px;
            color: theme-color("primary-text-color");
            -webkit-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
            box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
        
            @media (max-width: 767px) {
              padding: 20px;
            }
            @media (max-width: 575px) {
              padding: 0px;
              background: transparent;
              -webkit-box-shadow: none;
              box-shadow: none;
            }
            .loginbox{
              float: left;
              width: 100%;
              height: 100%;
              padding: 30px 30px;
              background: theme-color("primary");
              display: -ms-flexbox;
              display: flex;
              -ms-flex-wrap: wrap;
              flex-wrap: wrap;
              justify-content: center;
              align-items: center;
              text-align: center;
              -webkit-border-radius: 30px;
              border-radius: 30px;

              .loginbtinner{
                display: block;
                text-align: center;
                width: 100%;

                h3{
                  color: theme-color("white");
                  font-size: 26px;
                  font-weight: 500;
                  margin: 0px 0px 10px 0px;
                }
                p{
                  color: theme-color("white");
                  font-size: 16px;
                  font-weight: 400;
                  margin: 0px 0px 35px 0px;
                }
                .form-group{
                  position: relative;
                  margin: 0px 0px 35px 0px;

                  .inputgroup{
                    position: relative;
                    margin: 0px;

                    .inputlabel{
                      position: absolute;
                      left: 40px;
                      top: -13px;
                      color: theme-color("login-primary");
                      background: theme-color("primary");
                      padding: 2px 10px;
                      font-size: 15px;

                      @media (max-width: 575px) {
                        font-size: 14px;
                        left: 20px;
                      }
                    }
                    .form-control{
                      border: 1px solid theme-color("login-primary");
                      height: 56px;
                      background: transparent;
                      color: theme-color("white");
                      font-size: 16px;
                      font-weight: 500;
                      padding: 6px 20px 6px 50px;
                      -webkit-border-radius: 30px;
                      border-radius: 30px;

                      &::-moz-placeholder{color: theme-color("login-primary");opacity:1}
                      &:-ms-input-placeholder{color: theme-color("login-primary");}
                      &::-webkit-input-placeholder{color:theme-color("login-primary");}
                      &::-ms-expand{background-color:transparent;border:0}
                      &::-ms-expand{display: none;}

                      @media (max-width: 575px) {
                        font-size: 14px;
                        height: 44px;
                        padding: 4px 10px 4px 30px;
                      }
                    }
                  }
                }
                .btn-secondary{
                  background: theme-color("secondary");
                  border: 1px solid theme-color("secondary-dark");
                  width: 100%;
                  height: 56px;
                  padding: 0px;
                  text-align: center;
                  line-height: 56px;
                  -webkit-border-radius: 30px;
                  border-radius: 30px;
                  font-size: 16px;
                  font-weight: 500;
                  margin-top: -10px;
                  -webkit-box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);
                  box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);

                  @media (max-width: 575px) {
                    font-size: 14px;
                    height: 44px;
                    line-height: 44px;
                  }
                }
                .forgotpassword{
                  display: block;
                  text-align: center;
                  margin-top: 35px;

                  a{
                    display: inline-block;
                    color: theme-color("white");
                    font-size: 15px;
                    font-weight: 500;
                    text-decoration: none;
                    -webkit-transition: 0.3s ease-in-out;
                    transition: 0.3s ease-in-out;

                    &:hover{
                      color: theme-color("default");
                    }
                  }
                }
              }
            }
            .registerbox{
              float: left;
              width: 100%;
              padding: 10px;
              background: theme-color("step-wizard-bg");
              border: 1px solid theme-color("register-border");
              -webkit-border-radius: 30px;
              border-radius: 30px;

              @media (max-width: 575px) {
                padding: 0px;
                background: transparent;
                border: none;
                -webkit-border-radius: 0px;
                border-radius: 0px;
              }
        
              .registerboxinner{
                float: left;
                width: 100%;
                text-align: center;
                padding: 30px 20px;
                background: theme-color("white");
                border: 1px solid theme-color("register-border");
                -webkit-border-radius: 30px;
                border-radius: 30px;

                @media (max-width: 767px) {
                  padding: 30px;
                }

                h3{
                  color: theme-color("primary-text-color");
                  font-size: 26px;
                  font-weight: 500;
                  margin: 0px 0px 10px 0px;
                }
                p{
                  color: theme-color("primary-text-color");
                  font-size: 16px;
                  font-weight: 400;
                  margin: 0px 0px 35px 0px;
                }
                .form-group{
                  position: relative;
                  margin: 0px 0px 35px 0px;

                  .inputgroup{
                    position: relative;
                    margin: 0px;

                    .inputlabel{
                      position: absolute;
                      left: 40px;
                      top: -13px;
                      color: theme-color("secondary");
                      background: theme-color("white");
                      padding: 2px 10px;
                      font-size: 15px;

                      @media (max-width: 575px) {
                        font-size: 14px;
                        left: 20px;
                      }
                    }
                    .form-control{
                      border: 1px solid theme-color("secondary");
                      height: 56px;
                      background: transparent;
                      color: theme-color("primary-text-color");
                      font-size: 16px;
                      font-weight: 500;
                      padding: 6px 20px 6px 50px;
                      -webkit-border-radius: 30px;
                      border-radius: 30px;

                      &:focus{
                        -webkit-box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
                        box-shadow: 0 0 0 0.2rem rgba(236, 135, 74, 0.36);
                      }

                      &::-moz-placeholder{color: theme-color("primary-text-color");opacity:1}
                      &:-ms-input-placeholder{color: theme-color("primary-text-color");}
                      &::-webkit-input-placeholder{color:theme-color("primary-text-color");}
                      &::-ms-expand{background-color:transparent;border:0}
                      &::-ms-expand{display: none;}

                      @media (max-width: 575px) {
                        font-size: 14px;
                        padding: 4px 10px 4px 30px;
                        height: 44px;
                      }
                    }
                  }
                }
                .checkbox{
                  padding: 8px 0px; 
                  padding-left: 20px; 
                  margin-top: -10px; 
                  margin-bottom: 20px; 
                  display: block; 
                  margin-right: 0px;
                  max-width: 343px;
            
            
                  & + .checkbox{
                    margin-top: 0px;
                  }
                  label{
                    display: inline-block; 
                    position: relative; 
                    padding-left: 14px; 
                    color: theme-color("primary-text-color"); 
                    min-height: 0px; 
                    font-size: 15px; 
                    text-align: left;
                    font-weight: 500; 
                    line-height: 22px;
                    margin: 0;
            
                    &:before{
                      content: ""; 
                      display: inline-block; 
                      position: absolute; 
                      width: 22px; 
                      height: 24px; 
                      left: 0; 
                      top: 0px;
                      margin-left: -20px; 
                      border: 1px solid theme-color("secondary"); 
                      -webkit-border-radius: 9px; 
                      border-radius: 9px; 
                      background: transparent; 
                      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                      transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
                    }
                    &:after{
                      display: inline-block; 
                      position: absolute; 
                      width: 22px; 
                      height: 24px; 
                      left: 0; 
                      top: 0; 
                      margin-left: -20px; 
                      padding-left: 6px;
                      padding-top: 2px; 
                      font-size: 11px; 
                      color: theme-color("primary-text-color"); 
                      background: transparent; 
                      border-radius: 3px;
                    }
                    a{
                      color: theme-color("primary");
                      text-decoration: none;
        
                      &:hover{
                        text-decoration: underline;
                      }
                    }
                  }
                  input[type="checkbox"]{
                    opacity: 0;
                    position: absolute;
            
                    &:focus{
                      & + label{
                        &:before{outline: thin dotted;
                          outline: 0px auto -webkit-focus-ring-color;
                          outline-offset: 0px;
                        }
                      }
                    }
                    &:checked{
                      & + label{
                        &:after{
                          font-family: 'FontAwesome'; 
                          content: "\f00c";
                          color: theme-color("primary-text-color");
                        }
                      }
                    }
                    &:disabled{
                      & + label{
                        opacity: 0.65;
                        &:before{
                          background-color: theme-color("light-gray"); 
                          cursor: not-allowed; 
                        }
                        &:before{
                          background: transparent; 
                          border-color: theme-color("white");
                        }
                      }
                    }
                  }
                }
                .btn-default{
                  background: theme-color("default");
                  border: 1px solid theme-color("default-dark");
                  color: theme-color("white");
                  width: 100%;
                  height: 56px;
                  max-width: 340px;
                  padding: 0px;
                  text-align: center;
                  line-height: 56px;
                  -webkit-border-radius: 30px;
                  border-radius: 30px;
                  font-size: 16px;
                  font-weight: 500;
                  margin-top: -10px;
                  -webkit-box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);
                  box-shadow: -5px 34px 87px 0px rgba(12, 49, 90, 0.29);

                  @media (max-width: 575px) {
                    font-size: 14px;
                    height: 44px;
                    line-height: 44px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.form-group{
  .form-control{
    &.ng-invalid.ng-touched{
      border-color: red !important;
    }
  }
}