<section class="logincontainer">
  <div class="loginctouter">
    <div class="loginctinner">
      <div class="loginctbtouter">
        <div class="loginctbtinner">
          <div class="container">
            <div class="row ml-n2 mr-n2">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 pl-2 pr-2">
                <div class="loginboxouter">
                  <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12">
                      <div class="loginbox">
                        <form [formGroup]="loginFormGroup" (ngSubmit)="loginFormSubmit()">
                          <div class="loginbtinner">                          
                            <h3>Login</h3>
                            <p>Welcome back! Login to access the RAS Zone</p>
                            <div class="form-group">
                              <div class="inputgroup">
                                <span class="inputlabel">User Name</span>
                                <!-- <input type="text" class="form-control" value="Abinash Kundu" placeholder="Enter Your User Name" /> -->
                                <input formControlName="userEmail" id="email" type="email" class="form-control" placeholder="Email Address" name="email">
                                <div *ngIf="!!showErrorLoginUserEmail">                                  
                                  <p><span class="text-danger" >{{appVariables.loginEmailValidationError}}</span></p>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="inputgroup">
                                <span class="inputlabel">Password</span>
                                <!-- <input type="password" class="form-control" value="***************" placeholder="Enter Your Password" />                               -->
                                <input formControlName="userPassword" type="password" placeholder="Password" class="form-control" id="password" name="password">
                                <div *ngIf="!!showErrorLoginUserPassword">                                  
                                  <p><span class="text-danger" >{{appVariables.loginPasswordValidationError}}</span></p>
                                </div>
                              </div>
                            </div>
                            <button class="btn btn-secondary circleeffect" [disabled]="!!loginBtnClicked" (click)="loginFromValidation($event)" type="submit">Login</button>
                            <div class="forgotpassword">
                              <a routerLink="/forget-password">Forget Password?</a>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 mt-4 mt-lg-0">
                      <div class="registerbox">
                        <form [formGroup]="registrationFormGroup" (ngSubmit)="registrationFormSubmit()">
                          <div class="registerboxinner">
                          <h3>Sign Up</h3>
                          <p>Give us some of your information to get free access</p>

                          <div class="form-group selectbox">
                            <div class="inputgroup">
                              <span class="inputlabel">Title</span>
                              <select class="form-control" formControlName="userTitle">
                                <option value="" selected="" hidden>Select Title</option>
                                <option *ngFor="let data of userTitleListings" [value]="data.user_title_id">
                                  {{data.user_title_name}}
                                </option>
                              </select>
                              <div *ngIf="!!showErrorUserTitle">
                                <p><span class="text-danger" >{{appVariables.createTitleValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="inputgroup">
                              <span class="inputlabel">Your Name</span>                              
                              <input formControlName="userName" type="text" class="form-control" placeholder="Enter Your Name" required maxlength="100">
                              <div *ngIf="!!showErrorUserName">
                                <p><span class="text-danger" >{{appVariables.createFullNameValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="inputgroup">
                              <span class="inputlabel">Your Email</span>
                              <!-- <input type="text" class="form-control" value="info@abinashkundu.com" placeholder="Enter Your Email" /> -->
                              <input formControlName="userEmail" type="email" class="form-control" placeholder="Enter Your Email" required maxlength="150">
                              <div *ngIf="!!showErrorUserEmail">
                                <p><span class="text-danger" >{{appVariables.createEmailValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="inputgroup">
                              <span class="inputlabel">Your Contact Number</span>                              
                              <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Contact Number" value="" required="">
                              <div *ngIf="!!showErrorUserPhoneNumber">
                                <p><span class="text-danger" >{{appVariables.createPhoneNumberValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <!-- <div class="form-group">
                            <div class="inputgroup">
                              <span class="inputlabel">Street</span>                              
                              <input formControlName="street" type="text" class="form-control" placeholder="Street" required maxlength="150">
                              <div *ngIf="!!showErrorStreet">
                                <p><span class="text-danger" >{{appVariables.createStreetValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group selectbox">
                            <div class="inputgroup">
                              <span class="inputlabel">Country</span>
                              <select class="form-control" formControlName="country" (change)="onCountryChanged()">                                
                                <option value="" selected hidden>Select Country</option>
                                <option *ngFor="let data of countryListings" [value]="data.country_id" >
                                  {{data.country_name}}
                                </option>
                              </select>
                              <div *ngIf="!!showErrorCountry">
                                <p><span class="text-danger" >{{appVariables.createCountryValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group selectbox">
                            <div class="inputgroup">
                              <span class="inputlabel">State</span>
                              <select class="form-control" formControlName="state" (change)="onStateChanged()">                                
                                <option value="" selected hidden>Select State</option>
                                <option *ngFor="let data of stateListings" [value]="data.state_id" >
                                  {{data.state_name}}
                                </option>
                              </select>
                              <div *ngIf="!!showErrorState">
                                <p><span class="text-danger" >{{appVariables.createStateValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group selectbox">
                            <div class="inputgroup">
                              <span class="inputlabel">City</span>
                              <select class="form-control" formControlName="city">                                
                                <option value="" selected hidden>Select City</option>
                                <option *ngFor="let data of cityListings" [value]="data.city_id" >
                                  {{data.city_name}}
                                </option>
                              </select>
                              <div *ngIf="!!showErrorCity">
                                <p><span class="text-danger" >{{appVariables.createCityValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="inputgroup">
                              <span class="inputlabel">Pin Code</span>                              
                              <input formControlName="pin" type="text" class="form-control" placeholder="Pin Code" value="" maxlength="6" required="">
                              <div *ngIf="!!showErrorPin">
                                <p><span class="text-danger" >{{appVariables.createPinValidationError}}</span></p>
                              </div>
                            </div>
                          </div> -->
                          <div class="form-group">
                            <div class="inputgroup">
                              <span class="inputlabel">Password</span>
                              <!-- <input type="password" class="form-control" value="*************" placeholder="Enter Your Password" /> -->
                              <input formControlName="password" type="password" placeholder="Password" class="form-control" id="password" name="password" required minlength="8">
                              <span>
                                <small class="float-left">(Password must be of minimum 8 characters length and contains atleast 1 number, 1 alphabet and 1 special character.)</small>
                              </span>
                              <div *ngIf="!!showErrorUserPassword">
                                <p><span class="text-danger" >{{appVariables.createPasswordValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="inputgroup">
                              <span class="inputlabel">Confirm Password</span>
                              <!-- <input type="password" class="form-control" value="*************" placeholder="Enter Your Confirm Password" /> -->
                              <input formControlName="confirmPassword" type="password" placeholder="Enter Your Confirm Password" class="form-control" id="confirmpassword" name="confirmpassword" required="" minlength="8">
                              <div *ngIf="!!showErrorUserConfirmPassword">
                                <p><span class="text-danger" >{{appVariables.createConfirmPasswordValidationError}}</span></p>
                              </div>
                            </div>
                          </div>
                          <div class="checkbox">
                            <input type="checkbox" formControlName="termsConditions" id="agree"/>
                            <label for="agree">By creating an account you agree to the
                              <a href="javascript:void(0);">terms of use</a> and our <a href="javascript:void(0);">privacy policy</a></label>
                          </div>                          
                          <div class="text-left">
                            <button [disabled]="!!ragistrationBtnClicked" (click)="registrationFromValidation($event)" class="btn btn-default circleeffect" type="submit">Create Account</button>
                          </div>
                          <!-- <div *ngIf="!!showErrorTermsConditions">
                            <p><span class="text-danger" >{{appVariables.createTermsConditionValidationError}}</span></p>
                          </div> -->
                          <!-- <div class="text-left" *ngIf="!!showErrorDuplicateUserEmail">
                            <p><span class="text-danger" >{{appVariables.createDuplicateEmailError}}</span></p>
                          </div> -->
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>