<section class="stepcontainer step3container">
  <div class="stepctouter">
    <div class="stepctinner">
      <div class="stepctbtouter">
        <div class="stepctbtinner">
          <div class="container">

            <div class="row justify-content-center" *ngIf="responseMessageType == 1">
              <div class="col-xl-6 col-md-6 col-sm-12 col-12">
                <div class="thankyoubox">
                  <div class="thankyouheader">
                    <i class="fa fa-thumbs-o-up"></i>
                  </div>
                  <div class="thankyoubody">
                    <h2>Success!</h2>
                    <p>Your account has been activated successfully. Please login with your registered email and password to access your account.</p>
                    <a routerLink="/login" class="btn btn-secondary"><span>Login to you account</span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row justify-content-center" *ngIf="responseMessageType == 2">
              <div class="col-xl-6 col-md-6 col-sm-12 col-12">
                <div class="thankyoubox thankyouboxerror">
                  <div class="thankyouheader">
                    <i class="fa fa-times"></i>
                  </div>
                  <div class="thankyoubody">
                    <h2>Error!</h2>
                    <!-- <p>Thank you for register with us. Please check your email to verify and activate your account.</p> -->
                    <a routerLink="/" class="btn btn-secondary"><span>Back to home</span></a>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

