<div class="afterloginrightcontent">
    <div class="afterloginrightcontentinner">
        <div class="afterloginrightbt">
            <div class="afterloginrightbtinner">
                <h3>Purchased Exam Modules</h3>

                <tabset [justified]="true">
                    <tab heading="On Going">
                        <app-on-going></app-on-going>
                    </tab>
                    <tab heading="Completed">
                        <app-completed></app-completed>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>