@import '../../../assets/scss/variables';

.afterloginrightcontent{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  .afterloginrightcontentinner{
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    background: theme-color("white");
    padding: 50px 40px;
    color: theme-color("primary-text-color");
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);
    box-shadow: 4px 5px 3px 0px rgba(144, 164, 196, 0.27);

    @media (max-width: 767px){
      padding: 20px;
    }

    .afterloginrightbt{
      float: left;
      width: 100%;
      padding: 10px;
      background: theme-color("step-wizard-bg");
      border: 1px solid theme-color("register-border");
      -webkit-border-radius: 30px;
      border-radius: 30px;

      @media (max-width: 575px) {
        padding: 0px;
        background: transparent;
        border: none;
        -webkit-border-radius: 0px;
        border-radius: 0px;
      }
      .filtersearchbox{
        float: left; 
        width: 100%; 
        padding: 40px 0px; 
        background: theme-color("white"); 
        border-radius: 0px 0px 0px 0px; 
        -webkit-border-radius: 0px 0px 0px 0px;
  
        .form-group{
          margin: 0px 0px 20px 0px;
  
          label{
            display: block; 
            text-align: left; 
            color: theme-color("heading-font-color"); 
            text-transform: uppercase; 
            font-size: 19px; 
            font-weight: 800; 
            margin: 0px 0px 14px 0px;
  
            @media (max-width: 991px){
              font-size: 15px;
            }
            i{
              display: inline-block; 
              vertical-align: middle; 
              padding-right: 5px;
            }
          }
          .inputgroup{
            position: relative; 
            display: block;
          }
          .form-control{
            color: theme-color("input-font-color"); 
            font-size: 12px; 
            height: 40px; 
            padding: 6px 0px; 
            background: theme-color("white"); 
            font-style: italic; 
            border: none; 
            border-bottom: 1px solid theme-color("light-gray"); 
            -webkit-border-radius: 0px; 
            border-radius: 0px; 
            -webkit-appearance: none; 
            -moz-appearance: none; 
            -ms-appearance: none; 
            -o-appearance: none; 
            appearance: none; 
            -webkit-box-shadow: none; 
            box-shadow: none; 
            -webkit-transition: 0.3s ease-in-out; 
            transition: 0.3s ease-in-out;
  
            &::-moz-placeholder{
              color:theme-color("light-gray");opacity:1;
            }
            &:-ms-input-placeholder{
              color:theme-color("light-gray");
            }
            &::-webkit-input-placeholder{
              color:theme-color("light-gray");
            }
            &::-ms-expand{
              background-color:transparent;
              border:0;
            }
          }
        }
      }
      .afterloginrightbtinner{
        float: left;
        width: 100%;
        text-align: left;
        padding: 40px 40px;
        background: theme-color("white");
        border: 1px solid theme-color("register-border");
        -webkit-border-radius: 30px;
        border-radius: 30px;

        @media (max-width: 767px) {
          padding: 0px;
          border: none;
        }

        h3{
          color: theme-color("primary-text-color");
          font-size: 26px;
          font-weight: 500;
          margin: 0px 0px 10px 0px;

          @media (max-width: 767px) {
            font-size: 22px;
          }
        }

        .tab-container {
          .nav-tabs {
            display: none;
            li {
              width: 50%;
            }
          }
        }
      }
    }
  }
}