.paginationright{
  width: 100%; 
  margin-top: 30px;
  float: left;
  
  ul{
    float: right; 
    text-align: center; 
    margin: 0px; 
    padding: 2px 4px 2px 2px; 
    background: theme-color("white"); 
    -webkit-border-radius: 40px; 
    border-radius: 40px; 
    border: 1px solid theme-color("light-gray");

    li{
      display: inline-block; 
      list-style: none; 
      background: 0 0; 
      color: theme-color("gray"); 
      font-size: 13px; 
      font-weight: 500; 
      padding:0; 
      line-height: 22px; 
      min-width: 22px; 
      height: 22px; 
      text-align: center; 
      margin: 3px 0px 3px 3px; 
      border-radius: 50%;

      &.active{ 
        color: theme-color("black") !important;

        .page-link{
          background: transparent;
          color: theme-color("black");
        }
      }
      &.prev{ 
        color: theme-color("black");
        a{
          color: theme-color("black");
          font-size: 1.2em; 
          padding: 0px 10px;
        }
      }
      &.next{ 
        color: theme-color("black");
        a{
          color: theme-color("black");
          font-size: 1.2em; 
          padding: 0px 10px;
        }
      }
      &.dotted{ 
        border: none; 
        min-width: 20px;
      }
      a{
        text-decoration: none; 
        color: theme-color("light-gray"); 
        display: block;
        border: none;
        line-height: initial;
        background: 0 0;
        padding: 0px;

        &:focus{
          -webkit-box-shadow: none;
          box-shadow: none;
          background: transparent;
          color: theme-color("black");
        }
        &:hover{
          -webkit-box-shadow: none;
          box-shadow: none;
          background: transparent;
          color: theme-color("black");
        }
      }
    }
  }
}