<div class="paginationright" *ngIf="numOfPaginations > 0">
  <ul>
    <li class="prev">
      <a href="javascript:void(0);" (click)="prevClicked()"><i class="fa fa-angle-left"></i></a>
    </li>
    <li *ngFor="let data of paginationArr" [class]="data == _currentPageNumber ? 'active' : ''">
      <a (click)="paginationClicked($event, data)">{{data}}</a>
    </li>
    <li class="next"><a href="javascript:void(0);" (click)="nextClicked()"><i class="fa fa-angle-right"></i></a></li>
  </ul>
</div>