/* You can add global styles to this file, and also import other style files */

@import './assets/scss/variables';


body{
  background: theme-color("body-bg");
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}
@font-face {
  font-family: 'icomoon';
  src:  url('./assets/fonts/icomoon.eot?7vfwjk');
  src:  url('./assets/fonts/icomoon.eot?7vfwjk#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon.ttf?7vfwjk') format('truetype'),
    url('./assets/fonts/icomoon.woff?7vfwjk') format('woff'),
    url('./assets/fonts/icomoon.svg?7vfwjk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon{font-family: 'icomoon' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}

.icon-dashboard:before {
  content: "\e926";
}
.icon-document:before {
  content: "\e927";
}
.icon-lock:before {
  content: "\e92b";
}
.icon-logout:before {
  content: "\e92c";
}
.icon-notification:before {
  content: "\e92d";
}
.icon-pencil:before {
  content: "\e92e";
}
.icon-settings:before {
  content: "\e92f";
}
.icon-to-do-list:before {
  content: "\e930";
}
.icon-user:before {
  content: "\e931";
}
.icon-document-s:before {
  content: "\e925";
}
.icon-brain:before {
  content: "\e905";
}
.icon-chronometer:before {
  content: "\e906";
}
.icon-clock:before {
  content: "\e908";
}
.icon-foursquare-check-in:before {
  content: "\e909";
}
.icon-graph:before {
  content: "\e90e";
}
.icon-login:before {
  content: "\e90f";
}
.icon-pause:before {
  content: "\e910";
}
.icon-physics-bottle:before {
  content: "\e913";
}
.icon-planet:before {
  content: "\e914";
}
.icon-plus:before {
  content: "\e915";
}
.icon-question-mark:before {
  content: "\e91b";
}
.icon-time:before {
  content: "\e91f";
}
.icon-left-arrow:before {
  content: "\e902";
}
.icon-right-arrow:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e911";
}
.icon-chevron-left:before {
  content: "\e912";
}
.icon-menu1:before {
  content: "\e90c";
}
.icon-segment:before {
  content: "\e907";
}
.icon-align-left:before {
  content: "\e90a";
}
.icon-align-right:before {
  content: "\e90d";
}
.icon-clearclose:before {
  content: "\e928";
}
.icon-done:before {
  content: "\e929";
}
.icon-done_all:before {
  content: "\e92a";
}
.icon-check:before {
  content: "\e921";
}
.icon-menu11:before {
  content: "\e916";
}
.icon-segment1:before {
  content: "\e90b";
}
.icon-align-left1:before {
  content: "\e918";
}
.icon-align-right1:before {
  content: "\e91a";
}
.icon-arrow_right_alt:before {
  content: "\e924";
}
.icon-arrow-thin-down:before {
  content: "\e917";
}
.icon-arrow-thin-up:before {
  content: "\e919";
}
.icon-chevron-thin-left:before {
  content: "\e900";
}
.icon-chevron-thin-right:before {
  content: "\e901";
}
.icon-dots-two-horizontal:before {
  content: "\e903";
}
.icon-arrow-thin-down1:before {
  content: "\e923";
}
.icon-arrow-thin-up1:before {
  content: "\e922";
}
.icon-chevron-thin-left1:before {
  content: "\e920";
}
.icon-chevron-thin-right1:before {
  content: "\e91e";
}
.icon-arrow-thin-left:before {
  content: "\e91d";
}
.icon-arrow-thin-right:before {
  content: "\e91c";
}
.tooltip-inner {
  white-space: pre-wrap;
  text-align: left; 
}


@keyframes slide-down {
  0% {opacity: 0; transform: translateY(-45px);} 
  0% {opacity: 0; -webkit-transform: translateY(-45px);} 
  100% {opacity: 1; transform: translateY(0);} 
  100% {opacity: 1; -webkit-transform: translateY(0);} 
}
@media (min-width: 1200px) {
.container{max-width: 1260px; width: auto;}
}
@media (min-width: 1400px) {
.container{max-width: 1380px; width: auto;}
}
@media (min-width: 1560px) {
.container{max-width: 1500px; width: auto;}
}
.layout-expanded2{
  overflow: hidden;
  @media (min-width: 768px) {
    overflow: initial;
  }

  .headercontainer{
    .headerinner{
      .headtoprow{
        .navigationcolumn{
          .navigation{
            .navigationbox{
              @media (max-width: 767px) {
                margin-left: 0px;
              }
            }
          }
        }
      }
    }
  }
  .layoutovarlay2{
    display: block;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
.layoutovarlay2{
  position: fixed;
  z-index: 1000; 
  top: 0; 
  right: 0; 
  height: 100% !important; 
  left: 0; 
  display: none; 
  background: theme-color("ovarlay"); 
  opacity: .5; 
  cursor: pointer;
}

.layout-expanded3{
  overflow: hidden;
  @media (min-width: 768px) {
    overflow: initial;
  }
  .afterlogincontainer{
    .afterlogininner{
      .dashnavbar{
        @media (max-width: 767px) {
          margin-left: 0px;
        }
      }
    }
  }
  .layoutovarlay3{
    display: block;

    @media (min-width: 768px) {
      display: none;
    }
  }
}
.layoutovarlay3{
  position: fixed; 
  z-index: 1000; 
  top: 0; 
  right: 0; 
  height: 100% !important; 
  left: 0; 
  display: none; 
  background: theme-color("ovarlay"); 
  opacity: .5; 
  cursor: pointer;
}
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;

.cursor-pointer {
  cursor: pointer;
}


button{
  &:focus{
    outline: 0px auto -webkit-focus-ring-color;
  }
}
.btn-default{
  background: theme-color("default");
  border-color: theme-color("default");
  -webkit-border-radius: 0px;
  border-radius: 0px;
  color: theme-color("default-text-color");
}
.btn-primary{
  background: theme-color("primary");
  border-color: theme-color("primary");
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.btn-secondary{
  background: theme-color("secondary");
  border-color: theme-color("secondary");
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
.stepcontainer{
  padding: 0px;
  background-color: theme-color("step-wizard-bg");
  background-image: url(./assets/imgs/register-bg1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  @media (max-width: 991px) {
    background-size: contain;
  }

  &.step2container{
    background-image: initial;
  }
  &.step3container{
    background-image: url(./assets/imgs/step3bg.jpg);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: cover;
  }

  .stepctouter{
    min-height: calc(100vh - 134px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 100%;

    .stepctinner{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 0;
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 0;
      min-width: 0;
      max-width: 100%;

      .stepctbtouter{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        .stepctbtinner{
          -webkit-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-box-shadow: 1px 44px 54px 0px rgba(151, 192, 200, 0.24);
          box-shadow: 1px 44px 54px 0px rgba(151, 192, 200, 0.24);
          padding: 50px 0px;

          @media (max-width: 991px){
            padding: 40px 0px;
          }
        }
      }
    }
  }
}
.siteheading{
  display: block;

  h2{
    color: theme-color("primary-text-color");
    font-size: 33px;
    margin: 0px 0px 25px 0px;
    padding: 0px;
    font-weight: 700;
    line-height: 28px;

    @media (max-width: 991px){
      font-size: 30px;
    }
    @media (max-width: 767px){
      font-size: 20px;
    }

    span{
      position: relative;
      display: inline-block;
      padding: 0px 0px 15px 0px;

      @media (max-width: 991px){
        padding: 0px 0px 10px 0px;
      }

      &:after{
        content: "";
        position: absolute;
        left: 0px;
        top: 100%;
        width: 270px;
        border-top: 3px solid theme-color("primary");

        @media (max-width: 991px){
          width: 110%;
        }
      }
    }
  }
  h3{
    color: theme-color("primary-text-color");
    font-size: 20px;
    margin: 0px 0px 25px 0px;
    padding: 15px 0px 0px 0px;
    font-weight: 700;
    line-height: 28px;

    @media (max-width: 991px){
      font-size: 18px;
    }
    @media (max-width: 767px){
      font-size: 16px;
      padding: 0px 0px 0px 0px;
      
    }

    span{
      position: relative;
      display: inline-block;
      padding: 0px 0px 5px 0px;

      @media (max-width: 991px){
        padding: 0px 0px 5px 0px;
      }

      &:after{
        content: "";
        position: absolute;
        left: 0px;
        top: 100%;
        width: 120%;
        border-top: 3px solid theme-color("primary");
      }
    }
  }
  h5{
    color: theme-color("primary");
    font-size: 17px;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 0px;
    font-weight: 700;

    @media (max-width: 991px){
      font-size: 16px;
    }
    @media (max-width: 767px){
      font-size: 15px;
      padding: 0px 0px 0px 0px;
      
    }
  }
  p{
    color: theme-color("primary-text-color");
    font-size: 14px;
    line-height: 22px;
    margin: 0px 0px 30px 0px;

    @media (max-width: 991px){
      margin: 0px 0px 10px 0px;
    }
    @media (max-width: 767px){
      font-size: 13px;
    }
  }
}
.default-btn{
  display: inline-block;
  background: theme-color("white");
  color: theme-color("primary-text-color");
  padding: 8px 15px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid theme-color("dark-gray");
  text-decoration: none;
  min-width: 80px;
  font-weight: 500;
}
.primary-btn{
  display: inline-block;
  background: theme-color("primary");
  color: theme-color("white");
  padding: 8px 15px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  border: 1px solid theme-color("primary-dark");
  text-decoration: none;
  min-width: 80px;
  font-weight: 500;
}
.circleeffect{
  position:relative;
  overflow:hidden;

  &:before{
    content:"";
    width:124px;
    height:124px;
    border-radius:50%;
    background:#fff;
    position:absolute;
    top:50%;left:50%;
    margin-top:-62px;
    margin-left:-62px;
    display:none;
  }
  &:hover{
    &:before{
      -webkit-animation:circleIn .4s linear;
      animation:circleIn .4s linear;
      display:block;
      animation-fill-mode:forwards;
      -webkit-animation-fill-mode:forwards;
    }
  }
}
@-webkit-keyframes circleIn{0%{-webkit-transform:scale(0);opacity:.4}
100%{-webkit-transform:scale(1);opacity:0}}
@keyframes circleIn{0%{transform:scale(0);opacity:.4}
100%{transform:scale(1);opacity:0}}
.owl-carousel{
  .owl-nav{
    pointer-events: none; 
    position: absolute; 
    left: -31px; 
    right: -32px; 
    top: 50%; 
    margin: 0px; 
    -webkit-transform: translateY(-50%); 
    transform: translateY(-50%);

    button.owl-prev{
      position: relative; 
      pointer-events: all; 
      width: 40px; 
      height: 40px; 
      margin: 0px; 
      padding: 0px; 
      text-align: center; 
      line-height: 40px; 
      background: transparent;
      border: none; 
      color: theme-color("step-wizard-bg"); 
      font-size: 1.4rem; 
      float: left;
      outline: none; 
      border-radius: 50%; 
      -webkit-border-radius: 50%; 
      -webkit-transition: 0.3s ease-in-out; 
      transition: 0.3s ease-in-out;

      @media (max-width: 767px){
        width: 32px;
        height: 32px;
        line-height: 32px;
      }

      i{
        display: inline-block;
      }

      &:hover{
        background: transparent;
        border: none; 
        color: theme-color("default");
      }
    }
    button.owl-next{
      position: relative; 
      pointer-events: all; 
      width: 40px; 
      height: 40px; 
      margin: 0px; 
      padding: 0px; 
      text-align: center; 
      line-height: 40px; 
      background: transparent;
      border: none; 
      color: theme-color("step-wizard-bg"); 
      font-size: 1.4rem; 
      float: right;
      outline: none; 
      border-radius: 50%; 
      -webkit-border-radius: 50%; 
      -webkit-transition: 0.3s ease-in-out; 
      transition: 0.3s ease-in-out;

      @media (max-width: 767px){
        width: 32px;
        height: 32px;
        line-height: 32px;
      }

      i{
        display: inline-block;
      }

      &:hover{
        background: transparent;
        border: none; 
        color: theme-color("default");
      }
    }
  }
}