<section class="stepcontainer step3container">
  <div class="stepctouter">
    <div class="stepctinner">
      <div class="stepctbtouter">
        <div class="stepctbtinner">
          <div class="afterlogininner">
            <div class="dashnavbar">
              <div class="dashnavuserbt">
                <div class="dashuserimg">
                  <img [src]="profilePicUrlJpeg" alt="" />
                  <div class="userimgedit" (click)="imageChangePopup(template)">
                    <i class="icon icon-pencil"></i>
                    <!-- <input type="file" id="" name="" /> -->
                  </div>
                </div>
                <h3>{{userName}}</h3>
                <!-- <p>Super Admin</p> -->
              </div>
              <div class="dashnavbox">
                <ul>
                  <li><a href="javascript:void(0);"><i class="icon icon-dashboard"></i>Dashboard</a></li>
                  <li routerLinkActive="active"><a routerLink="/students/profile-settings"><i class="icon icon-user"></i>My Profile</a></li>
                  <li routerLinkActive="active"><a routerLink="/students/purchase-history"><i class="icon icon-user"></i>Purchase History</a></li>
                  <li routerLinkActive="active"><a routerLink="/students/purchased-exam-modules"><i class="fa fa-key"></i>Purchased Exam Modules</a></li>
                  <li><a href="javascript:void(0);"><i class="icon icon-to-do-list"></i>My Reports</a></li>
                  <li routerLinkActive="active"><a routerLink="/students/security-settings"><i class="fa fa-key"></i>Security Settings</a></li>
                  <li (click)="logoutClicked()"><a href="javascript:void(0);"><i class="icon icon-lock"></i>Logout</a></li>
                </ul>
              </div>
            </div>
            <div class="afterloginright">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #template>
  <div class="modal-header modalheader">
    <h4 class="modal-title pull-left">Display Picture</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body modalbody">
    <div class="row">
      <div class="col-12 col-sm-8">
        <ngx-msd-image-cropper 
          [ratio]="1/1" 
          [resultWidth]="200" 
          [resultHeight]="200"
          [cropSelectedArea]="[profileImageData.crop_data.x, profileImageData.crop_data.y, profileImageData.crop_data.w, profileImageData.crop_data.h]"
          [imageChangedEvent]="profilePicImageChangedEvent" 
          (croppedOutput)="profilePicCroppedOutput($event)"
        >
        </ngx-msd-image-cropper>
      </div>
      <div class="col-12 col-sm-4">
        <div class="preview-container">
          <img [src]="profileImageData.cropped_img" class="preview-img img-fluid border" alt="Profile Pic">
        </div>

        <div class="mt-5">
          <!-- <div class="file-upload-button-wrapper position-relative overflow-hidden">
            <button type="button" class="btn btn-primary btn-block">Upload</button>
            <input type="file" class="input-file" (change)="profilePicFileUpload($event)">
          </div> -->
          <div class="btngroup upload-btn position-relative overflow-hidden">
            <button class="subtn btn btn-default position-relative" type="button" [disabled]="!!imageSavingNow">Upload</button>
            <input type="file" [class]="'input-file position-absolute profile-pic-upload-btn' + (!!imageSavingNow ? ' d-none' : '')" (change)="profilePicFileUpload($event)" [disabled]="!!imageSavingNow">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="saveProfilePicDataFunc()">Save</button> -->
    <span class="text-success" *ngIf="successMessage==true">Image Saved successfully!</span>
    <div class="btngroup">
      <button class="subtn btn btn-primary" type="button" data-dismiss="modal" (click)="saveProfilePicDataFunc()" [disabled]="!!imageSavingNow">{{!imageSavingNow ? 'Save' : 'Saving...'}}</button>
    </div>
    <br>
    <br>    
    <button type="button" class="btn btn-link" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>