<section class="forgotcontainer">
  <div class="forgotctouter">
    <div class="forgotctinner">
      <div class="forgotctbtouter">
        <div class="forgotctbtinner">
          <div class="container">
            <div class="row ml-n2 mr-n2 justify-content-center">
              <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12 col-12 pl-2 pr-2">
                <div class="forgotboxouter">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mt-4 mt-lg-0">
                      <div class="forgotbox">
                        <div class="forgotboxinner">
                          <h3 class="mb-5">Forgot Password</h3>
                          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque suscipit arcu quis sapien ultrices.</p> -->
                          <form [formGroup]="forgetPasswordForm">
                            <div class="form-group">
                              <div class="inputgroup">
                                <span class="inputlabel">Email ID</span>
                                <input type="text" class="form-control" formControlName="userEmail" placeholder="Enter Your Registered Mail ID" />
                              </div>
                            </div>
                            <div>
                              <button class="btn btn-default circleeffect" type="button" (click)="forgetPasswordSubmit()">Submit</button>
                            </div>
                            <div class="forgotpassword mt-4">
                              <a routerLink="/login">Remember Password? Login</a>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>