<div class="ongoing-page p-3">
    <!-- <div class="flttop">
      <div class="fltleft"><i class="fa fa-filter"></i> Filters:</div>
      <a class="fltright" href="javascript:void(0);" (click)="clearAllFilterations()">Clear All</a>
    </div>
    <div class="filtersearchbox">
      <div class="form-group">
        <label><i class="ico ico-search"></i>Search By Keywords</label>
        <div class="inputgroup">
          <input type="text" class="form-control" [(ngModel)]="searchText" (keypress)="onSearchTextKeypress($event)"
            placeholder="Type your keywords..." name="">
        </div>
      </div>
      <div class="topfilterpanel" *ngIf="totalData > 0">
        <div class="paginate">(Showing <strong>{{((currentPageNumber - 1) * dataPerPage) + 1}} – {{((currentPageNumber - 1) * dataPerPage) + pageData.length}}</strong> products of {{totalData}} products)</div>
      <a href="javascript:void(0);" class="viewmorebtn" (click)="currentPageNumber = 1; ongoingexampagedata()">Apply
        Search</a>
    </div> -->
  <div class="row">
    <div class="col-sm-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keypress)="onSearchTextKeypress($event)" placeholder="Search By Keywords" aria-label="Search By Keywords" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="currentPageNumber = 1; ongoingexampagedata()"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>

    <div class="col-sm-8">
      <app-ngx-msd-pagination
        *ngIf="pageData"
        [totalNumberOfData]="totalData"
        [dataPerPage]="dataPerPage"
        [currentPageNumber]="currentPageNumber"
        (pageNumberChanged)="paginationNumberChanged($event)"
        class="float-right"
      >
      </app-ngx-msd-pagination>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Paper Name</th>
          <th scope="col">No. of Exam Given</th>
          <th scope="col">Left Attemps</th>
          <th scope="col">Expires At</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of pageData; let i=index">
          <th scope="row">{{i+1}}</th>
          <td>{{data.paper_name}}</td>
          <td>0 &nbsp;<i class="fa fa-eye" popover="Need to redirect to exam report page"></i></td>
          <td>2</td>
          <td>{{data.valid_upto}}</td>
          <td class="text-center"><i class="fa fa-sign-in text-primary cursor-pointer" tooltip="Start Exam" (click)="getData(data)" *ngIf="data.exam_status == 1"></i>&nbsp;<i
              class="fa far fa-pause-circle" tooltip="Resume" (click)="getData(data)" *ngIf="data.exam_status == 0"></i></td>
        </tr>
      </tbody>
    </table>
  </div>

  <app-ngx-msd-pagination
    *ngIf="pageData"
    [totalNumberOfData]="totalData"
    [dataPerPage]="dataPerPage"
    [currentPageNumber]="currentPageNumber"
    (pageNumberChanged)="paginationNumberChanged($event)"
    class="float-right"
  >
  </app-ngx-msd-pagination>
</div>